/*//////////////////////
//
// PROPRIETARY / CONFIDENTIAL.
// Use of this product is subject to license terms.
// Copyright © 2006 Symantec Corporation.
// All rights reserved.
//
///////////////////////////////////////////////////////////////////////////////////////////////*/

@media screen,contrast-screen
{
	body
	{
		font-family:Arial,Tahoma,verdana,sans-serif;
		font-size:10px;
		width:100%;
		height:100%;
		min-width:585;
		min-height:381;
	}
	.command-bar
	{
		flow:horizontal;
		height:60px;
		width:100%%;
	}
	#command-bar-right-spacer
	{
		width:30px;
	}
	#statusarea
	{
		width:100%;
		height:89px;
		padding-top:13px;
		margin-bottom: 13px;
		flow:horizontal;
	}
	#statustextandprogress
	{
		flow:vertical;
		width:100%%;
		height:100%%;
	}
	#iconarea
	{
		flow:horizontal;
		width:100px;
		height:100%%;
	}
	#statusrow1
	{
		flow:horizontal;
		margin-bottom: 5px;
	}
	#helparea
	{
		width:max-intrinsic;
		height:max-intrinsic;
		padding-right:25px;
		vertical-align: top;
	}
	#activityicon
	{
		foreground-image: url(icon_orange_attn_req.png);
		width: 72px;
		height: 75px;
	}
	#iconstatus
	{
		font-weight:bold;
		font-size:11px;
	}
	#iconstatustext
	{
		font-weight:bold;
		font-size:24px;
	}
	.BWH
	{
		width:100%%;
		color:#FF8700;
		font-size:16px;
		font-weight:bold;
		flow:horizontal;
	}
	.TabFrame
	{
		Width:100%%;
		Height:100%%;
	}
	.container
	{
		flow: horizontal;
	}

	.AttentionTitle
	{
		width: 100%%;
		height: 0px;
		padding: 2px 0px 2px 4px;
		background-color: #FFB900;
		margin-bottom: 2px;
	}

	.AttentionTitleText
	{
		font-family:Arial,Tahoma,verdana,sans-serif;
		font-size: 12px;
		font-weight: bold;
		margin: 0px 0px 0px 8px;
	}

	.DetailsSection
	{
		padding: 0px 4px 4px 4px;
		width: 80%%;
		height: 0px;
		background-image: url(details_box_small.PNG);
		background-position: 28px 10px 10px 10px;
		background-repeat: expand;
	}

	.DetailsSectionHeader
	{
		width: 0px;
		height: 0px;
	}

	.DetailsSectionHeading
	{
		font-family:Arial,Tahoma,verdana,sans-serif;
		font-weight: bold;
		font-size: 12px;
		padding: 2px 0px 0px 8px;
		margin: 0px 4px 0px 0px;
		color: white;
		white-space: nowrap;
		height: 20px;
	}

	.DetailsSectionBody
	{
		flow: horizontal;
		margin: 4px 0px 0px 4px;
		padding: 0px 8px 4px 4px;
	}

	.DetailsSectionRowHeadings
	{
		width: 0px;
		margin: 0px 10px 0px 0px;
	}

	.DetailsSectionRowHeadingEntry
	{
		font-family:Arial,Tahoma,verdana,sans-serif;
		font-weight: bold;
		font-size: 11px;
		margin: 0px 0px 0px 0px;
	}

	.DetailsSectionRowData
	{
		width: 100%%;
	}

	.DetailsSectionRowDataEntry
	{
		font-family:Arial,Tahoma,verdana,sans-serif;
		font-size: 11px;
		margin: 0px 0px 0px 0px;
		white-space: nowrap;
	}

	#rbuttons
	{
		white-space:nowrap;
		width:100%%;
		text-align:right;
	}
}

@media contrast-screen
{
	#activityicon
	{
		display:none;
	}
	.BWH
	{
		color:windowtext;
	}
	.AttentionTitle
	{
		background-color:window;
	}
	.DetailsSection
	{
		border:1px solid highlight;
		background-image: none;
	}
}