/*//////////////////////
//
// PROPRIETARY / CONFIDENTIAL.
// Use of this product is subject to license terms.
// Copyright © 2006 Symantec Corporation.
// All rights reserved.
//
///////////////////////////////////////////////////////////////////////////////////////////////*/

@media screen,contrast-screen
{
	html
	{
		overflow:hidden;
	}
	body
	{
		font-size:11px;
		width:412px;
		height:100px;
		overflow:hidden;
	}
	.command-bar
	{
		flow:horizontal;
		height:40px;
		width:100%%;
		padding-right:15px;
	}
	#command-bar-mid-spacer
	{
		width:100%%;
	}
	#statustextandprogress
	{
		height:55px;
		padding-top: 5px;
		padding-left:15px;
		padding-right:15px;
		padding-bottom:0px;
	}
}