/*//////////////////////
//
// PROPRIETARY / CONFIDENTIAL.
// Use of this product is subject to license terms.
// Copyright © 2006 Symantec Corporation.
// All rights reserved.
//
///////////////////////////////////////////////////////////////////////////////////////////////*/

@media screen,contrast-screen
{
	.command-bar
	{
		flow:horizontal;
		height:60px;
		width:100%%;
	}
	#command-bar-right-spacer
	{
		width:30px;
	}
	#exportdiv
	{
		padding-left:25px;
		margin-top:50%%;
		margin-bottom:50%%;
		vertical-align:middle;
		width:0%;
		white-space:nowrap;
	}
	#statusarea
	{
		width:100%;
		height:89px;
		padding-top:13px;
		flow:horizontal;
	}
	#statustextandprogress
	{
		flow:vertical;
		width:100%%;
		height:100%%;
	}
	#iconarea
	{
		flow:horizontal;
		width:195px;
		height:100%%;
	}
	#iconareadone
	{
		flow:horizontal;
		width:100%%;
		height:100%%;
	}
	#statusrow1
	{
		flow:horizontal;
		margin-bottom: 5px;
	}
	#helparea
	{
		width:max-intrinsic;
		height:max-intrinsic;
		padding-right:25px;
		vertical-align: top;
		position:absolute;
		top:7px;
		right:15px;
	}
	.acticon
	{
		foreground-image: url(icon_blue_working_1.png);
		width: 72px;
		height: 75px;
	}
	.status
	{
		font-weight:bold;
		font-size:11px;
	}
	.statustext
	{
		font-weight:bold;
		font-size:18px;
	}
	.BWH
	{
		width:100%%;
		font-family:Tahoma,Arial,verdana,sans-serif;
		font-size:10px;
		font-weight:bold;
		flow:horizontal;
	}
	#subprogtext
	{
		width:max-intrinsic;
		height:max-intrinsic;
		padding-right:3px;
	}
	#currentfile
	{
		padding-right:25px;
		width:100%%;
		height: 1.2em;
		font-size:10px;
		font-weight:normal;
		behavior:path;
		overflow:hidden;
		white-space:nowrap;
		text-overflow:ellipsis;
	}
	#progress
	{
		transition:none; /* stop animation by default "image" for animation */
	}
	.count
	{
		font-size:11px;
		font-weight:bold;
		text-align:center;
		vertical-align:middle;
	}
	.ProgressBar
	{
		width:374px;
		height:30px;
	}
	.TabFrame
	{
		Width:100%%;
		Height:100%%;
	}
	#SummaryBody
	{
		border-bottom:0;
	}
	#rbuttons
	{
		white-space:nowrap;
		width:100%%;
		text-align:right;
	}
}

@media contrast-screen
{
	.acticon
	{
		display:none;
	}
}