/*//////////////////////
//
// PROPRIETARY / CONFIDENTIAL.
// Use of this product is subject to license terms.
// Copyright © 2006 Symantec Corporation.
// All rights reserved.
//
///////////////////////////////////////////////////////////////////////////////////////////////*/

@media screen,contrast-screen
{
	html
	{
		overflow:hidden;
	}
	body
	{
		font-size:11px;
		min-width:480px;
		min-height:155px;
		margin:0px;
		padding:5px;
		overflow:hidden;
	}
	.command-bar
	{
		flow:horizontal;
		height:60px;
		width:100%%;
	}
	#command-bar-spacer
	{
		width:50%%;
	}
	#prompt
	{
		width:100%;
		height:100%%;
		padding-top:10px;
	}
	#rememberdiv
	{
		margin-left:50%%;
	}
}