/*//////////////////////
//
// PROPRIETARY / CONFIDENTIAL.
// Use of this product is subject to license terms.
// Copyright © 2006 Symantec Corporation.
// All rights reserved.
//
///////////////////////////////////////////////////////////////////////////////////////////////*/

@media screen,contrast-screen
{
	html
	{
		overflow:hidden;
	}
	body
	{
		font-family:verdana,arial,sans-serif;
		font-size:10px;
		width:480px;
		height:155px;
		margin:0px;
		padding:5px;
	}
	.command-bar
	{
		flow:horizontal;
		height:60px;
		width:100%%;
	}
	#command-bar-spacer
	{
		width:100%%;
	}
	.title
	{
		text-align:	right;
	}
	.field
	{
		flow:horizontal;
		width:100%%;
	}
	.statfield
	{
		flow:horizontal;
		width:100%%;
	}
	input
	{
		width:100%%;
	}
	.GroupBox
	{
		background-color: white	threedlight	threedlight	white;
	}
	.GBLegend
	{
		color:maroon;
		font-weight:bold;
	}
	.FormTable
	{
		width:100%%;
		height:75px;
		padding:5px;
	}
	.Fill
	{
		height:100%%;
	}
    
    TD
    {
        border-top: solid 4px transparent;
    }
}

@media contrast-screen
{
	.GroupBox
	{
		background-color:window;
	}
	.GBLegend
	{
		color:windowtext;
	}
}