@media screen,contrast-screen
{
	html
	{
		overflow:hidden;
	}
	body
	{
		font-family:verdana,arial,sans-serif;
		font-size:10px;
		width:480px;
		min-height:220px;
		height:max-intrinsic;
		margin:0px;
		padding:5px;
		overflow:hidden;
	}
	.command-bar
	{
		flow:horizontal;
		height:60px;
		width:100%%;
	}
	#command-bar-spacer
	{
		width:100%%;
	}
	
	.question
	{
		text-align: left;
		font-weight: bold;
		margin-top: 10px;
		margin-left: 10px;
	}
	.title
	{
		text-align: left;
		width:100px;
		padding-top:3px;
	}
	#tlevelfield
	{
	    flow:horizontal;
	    height: 100%%;
	    width: min-intrinsic;
	}
	
	#tlevelfieldText
	{
	    width: min-intrinsic;
		margin-right: 10px;
	}
	
	#tlevelimage
	{
	}
	
	.statfield
	{
		flow:horizontal;
		width:100%%;
	}
	input
	{
		width:100%%;
	}
	.GroupBox
	{
		background-color: white threedlight threedlight white;
	}
	.GBLegend
	{
		color:maroon;
		font-weight:bold;
	}
	.FormTable
	{
		width:100%%;
		padding:5px;
	}
	.Fill
	{
		height:100%%;
		width:100%%;
	}

	/* Listview */
	#itemtable
	{
		border:1px solid #bdbccc;
		overflow: auto;
		width:100%%;
		height:125px;
		behavior:grid;
		background:white;
	}
	#itemtable td:nth-child(1) /* first column */
	{
		text-align:left;
		width:80%%;
		height:max-intrinsic;
		padding-left:15px;
	}
	#itemtable td:nth-child(2) /* second column */
	{
		text-align:center;
		border-left:1px solid #bdbccc;
		color:#8380A0;
		width:20%%;
	}

	.actiondd
	{
		width:max-intrinsic;
	}
	
	.actiondd select
	{
		width:95px;
		text-align:left;
	}
	
	.actiondd select> select
	{
		width:90px;
	}
	
	.gobtn  /* suppress display of this component */
	{
		display: none;
		width: 0px;
		height: 0px;
	}

}

@media contrast-screen
{
	.GroupBox
	{
		background-color:window;
	}
	.GBLegend
	{
		color:windowtext;
	}
	/* Listview */
	#itemtable
	{
		border:1px solid highlight;
		background:window;
	}
	#itemtable td:nth-child(2) /* second column */
	{
		border-left:1px solid highlight;
		color:windowtext;
	}
}