/*//////////////////////
//
// PROPRIETARY / CONFIDENTIAL.
// Use of this product is subject to license terms.
// Copyright © 2006 Symantec Corporation.
// All rights reserved.
//
///////////////////////////////////////////////////////////////////////////////////////////////*/

@media screen,contrast-screen
{
	html
	{
		overflow:hidden;
	}
	body
	{
		font-size:11px;
		height:100%%;
		width:100%%;
		min-width:450px;
		min-height:475px;
		padding:3px;
		padding-top:0px;
		overflow:hidden;
	}
	table
	{
		font-family:Tahoma, Arial;
		font-size:11px;
	}

	.titleArea
	{
		flow:horizontal;
		width:100%%;
	}
	#title
	{
		padding-left:5px;
		width:100%%;
		font-size:18px;
		color:#333333;
	}
	#MoreInfoDIV
	{
		font-size:12px;
		width:max-intrinsic;
		margin-top:50%%;
		margin-bottom:50%%;
		margin-left:100%%;
		margin-right:5px;
	}

	.tabArea
	{
		margin-top:15px;
		padding-left:5px;
		height:max-intrinsic;
		flow:horizontal;
	}

	a:link
	{
		color: #0000FF;
	}
	a:visited
	{
		color: #0000FF;
	}
	a:hover
	{
		color: #0066FF;
	}
	a:active
	{
		color: #0066FF;
	}

	.buttonArea
	{
		height:33px;
		width:max-intrinsic;
		margin-top:5px;
		padding-left:6px;
		padding-right:6px;
		margin-left:100%%;
		flow:horizontal;
	}

	.hotkey
	{
		text-decoration:none;
	}

	.RiskHeader
	{
		margin:8px;
		width:100%%;
		height:15%%;
	}

	#MatrixBody
	{
		width:100%%;
		height:100%%;
	}

	.RiskContent
	{
		width:100%%;
		height:100%%;
		margin-left:6px;
		margin-right:6px;
		margin-bottom:6px;
		padding-left:6px;
		padding-right: 6px;
		padding-top:10px;
		padding-bottom:3px;
		background-color:#EEEEEE;
	}

	#overallTitle
	{
		font-weight:bold;
		font-size:11px;
	}

	.OverallTitleTD
	{
		height:14px;
	}

	.Tree
	{
		padding-left:20px;
	}

	.TopMatrixTable
	{
		width:1px;
		padding-top:6px;
		margin-top:20px;
	}

	.ThreatDescription
	{
		padding-left: 5px;
		padding-right: 5px;
	}

	.SubTitleTD
	{
		height:17px;
		padding-left:5px;
	}

	.IndicatorTD
	{
		padding-left:10px;
	}

	.ITextTD
	{
		width:70px;
	}

	.SpacerTD
	{
		width:100%%;
	}

	.DetailsTable
	{
		border:1px solid #CCCCCC;
		width:100%%;
		height:125px;
		background-color:#FBF9E0;
		margin:0;
		margin-top:25px;
	}

	.ThreatImage
	{
		margin:0px;
		padding:0px;
		padding-left:5px;
		height:10px;
	}

	.ThreatDesc
	{
		padding:10px;
		padding-top:0px;
		padding-bottom:0px;
		vertical-align:top;
		height:100%%;
	}

	#threatImpactTitle
	{
		color:#333333;
		font-weight:bold;
	}

	#threatImpactDetails
	{
		padding-left:5px;
		color:#000000;
	}

	.SelectListDIV
	{
		width:100%%;
		height:50%%;
		border:1px solid #CCCCCC;
		margin:0;
		margin-top: 5px;
	}

	table[type="reportview"]
	{
		height:100%%;
		width:100%%;
		overflow:auto;
		behavior:grid;
		background-image:url(theme:edit-normal);
		background-repeat:stretch;
		margin:0;
		padding:2px;
	}

	table[type="reportview"] tr
	{
		height:15px;
	}

	table[type="reportview"] th
	{
		text-align: left;
		padding-left: 3px;
		width: max-intrinsic;
		background-repeat:stretch;
		background-image:url(theme:button-normal);
	}

	table[type="reportview"] td /* all cells */
	{
		padding-left:2px;
		padding-right:2px;
		border:1px solid silver;
		white-space:nowrap;
	}

	table[type="reportview"] tr:current td /* all rows */
	{
		background-color: highlight;
		color: highlighttext;
	}

	/*tab panel override*/
	.tabs > [name][selected]
	{
		border:1px solid #FFC700;
	}

	#risk_name_title, #drisk_name_title
	{
		white-space:nowrap;
	}

	#matrix_risk_name, #dmatrix_risk_name
	{
		width:100%%;
		overflow:hidden;        /* three line below - ellipsis */
		text-overflow:ellipsis;
		white-space:nowrap;
	}
}

@media contrast-screen
{
	#title
	{
		color:windowtext;
	}
	#moreInfo
	{
		color: #FFFFFF;
	}
	a:link,
	a:visited
	{
		color:inactivecaption;
	}
	a:hover,
	a:active,
	a:focus
	{
		color:activecaption;
	}
	.RiskContent
	{
		background-color:window;
	}
	.DetailsTable
	{
		border:1px solid highlight;
		background-color:window;
	}
	#threatImpactTitle
	{
		color:windowtext;
	}

	#threatImpactDetails
	{
		color:windowtext;
	}

	.SelectListDIV
	{
		border:1px solid highlight;
	}
	table[type="reportview"] td
	{
		border:1px solid highlight;
	}
	.tabs > [name][selected]
	{
		border:1px solid highlight;
	}
}