/*//////////////////////
//
// PROPRIETARY / CONFIDENTIAL.
// Use of this product is subject to license terms.
// Copyright © 2006 Symantec Corporation.
// All rights reserved.
//
///////////////////////////////////////////////////////////////////////////////////////////////*/

@media screen,contrast-screen
{
	.actiondd
	{
		width:max-intrinsic;
	}
	.actiondd select
	{
		width:95px;
		text-align:left;
	}
	.actiondd select> select
	{
		width:90px;
	}
	.gobtn
	{
		background-image: url(gobtn.png);
		width: 17px;
		height: 21px;
		min-width: 17px;
		min-height: 21px;
		padding: 0;
		margin-right:2px;
		transition:blend;
	}
	.gobtn:disabled
	{
		background-image: url(gobtn-disabled.png);
	}
	.gobtn:hover
	{
		background-image: url(gobtn-hover.png);
	}
	.gobtn:active
	{
		background-image: url(gobtn-click.png);
	}
	.gobtn:focus
	{
		outline:1px dotted white -3px; /* inside */
		background-image: url(gobtn-hover.png);
	}
	.gobtn:focus:active
	{
		outline:none;
	}
}
