//
// $Header:   N:/NAVKRNL/VCS/navkvxd.rcv   1.1   05 Aug 1996 13:37:50   JBRENNA  $
//
// Resource script file for NAVKRNL VxD.
//
//************************************************************************
// $Log:   N:/NAVKRNL/VCS/navkvxd.rcv  $
// 
//    Rev 1.1   05 Aug 1996 13:37:50   JBRENNA
// LuigiPlus Port: needed for version information
// 
//    Rev 1.0.1.0   20 Jul 1995 12:48:12   JJOHNSON
// Branch base for version QAK8
// 
//    Rev 1.0   19 Jul 1995 19:30:24   DALLEE
// Initial revision.
//************************************************************************

#include "platform.h"

#define VR_FILEDESCRIPTION          "Norton AntiVirus Kernel Virtual Device Driver"
#define VR_INTERNALNAME             "NAVKRNL"
#define VR_ORIGINALFILENAME         "NAVKRNL.VXD"
#include "vlib.ver"

