/////////////////////////////////////////////////////////////////////////////
//  Copyright (c)2004 - Symantec, Consumer Product Division
/////////////////////////////////////////////////////////////////////////////
//
//  SDSTRIP.RC - Resources for Scan & Deliver stripping DLL
//
/////////////////////////////////////////////////////////////////////////////

#include "windows.h"
#include "NAVVer.h"
#include "filever.h"
#include "verinc.rc"