######################################################################
# 
# target file: HTTPD.gw02def02.cnf
# 
# target directory: D:\avis
# 
# target machine: gw02def02.gw02.dis.symantec.com
# 
# target application: wHTTPg.EXE
# 
# This profile contains configuration parameters for the LotusGo web
# server located in the wHTTPg.EXE file.
# 
# The server uses the parameters in this file to decide which 
# requests to handle, what to do with requests it does not handle,
# where to obtain its SSL certificate, and where to log its activity.
# 
# This profile is different on each machine in the gateway array.
# 
######################################################################

#---------------------------------------------------------------------
# This profile is for the "definition download 2" machine in the 
# second production gateway.
#---------------------------------------------------------------------
 
Hostname gw02def02.gw02.dis.symantec.com
BindSpecific off
NormalMode on
Port 2847
SSLMode on
SSLport 2848

#---------------------------------------------------------------------
# This server's program files are stored here.
#---------------------------------------------------------------------
 
ServerRoot c:\WWW\Bin

#---------------------------------------------------------------------
# This server uses the SSL certificate stored in the keyring
# file specified here.
#---------------------------------------------------------------------

KeyFile d:\key\keyring.kyr
SSLClientAuth off

#---------------------------------------------------------------------
# This server does not serve HTML files, but if it did, it would 
# use this default filename.
#---------------------------------------------------------------------
 
AlwaysWelcome on
Welcome index.html

#---------------------------------------------------------------------
# This server handles GET, HEAD, and POST requests only.
#---------------------------------------------------------------------
 
Enable  GET
Enable  HEAD
Enable  POST
Disable PUT
Disable TRACE
Disable OPTIONS
Disable DELETE
 
#---------------------------------------------------------------------
# The servlets are initialized and terminated by the functions 
# listed here.
#---------------------------------------------------------------------

ServerInit d:\avis\AVISservlets.dll:servletInit
ServerTerm d:\avis\AVISservlets.dll:servletTerm

#---------------------------------------------------------------------
# This server handles only getSignatureSet transactions redirected to
# it from the "customer entry point" machine.  This server should
# never receive any other customer requests, and will redirect them 
# to the "customer entry point" machine if it does.
#---------------------------------------------------------------------

Redirect /AVIS/postSuspectSample  http://gw02entry01.gw02.dis.symantec.com/AVIS/postSuspectSample
Redirect /AVIS/getSampleStatus    http://gw02entry01.gw02.dis.symantec.com/AVIS/getSampleStatus
Service  /AVIS/headSignatureSet   d:\avis\AVISservlets.dll:getSignatureSet
Service  /AVIS/getSignatureSet    d:\avis\AVISservlets.dll:getSignatureSet

#---------------------------------------------------------------------
# This server should never receive any analysis center requests, and 
# will redirect them to the "SARA access" server if it does.
#---------------------------------------------------------------------

Redirect /AVIS/getSuspectSample   http://gw02inside01.gw02.dis.symantec.com/AVIS/getSuspectSample
Redirect /AVIS/postSampleStatus   http://gw02inside01.gw02.dis.symantec.com/AVIS/postSampleStatus
Redirect /AVIS/postSignatureSet   http://gw02inside01.gw02.dis.symantec.com/AVIS/postSignatureSet

#---------------------------------------------------------------------
# This server redirects any and all unexpected requests to the SARC
# Internet server.
#---------------------------------------------------------------------

Redirect /*  http://www.sarc.com

#---------------------------------------------------------------------
# This server handles long-running transactions, so some timeouts 
# have large values.
#---------------------------------------------------------------------
 
InputTimeout    30 minutes
OutputTimeout   30 minutes
ScriptTimeout   1 minute
PersistTimeout  1 minute
MaxPersistRequest 5

#---------------------------------------------------------------------
# This server runs as many concurrent transactions as practical.
#---------------------------------------------------------------------

MaxActiveThreads 500

#---------------------------------------------------------------------
# This server buffers response data generated by the servlets.
#---------------------------------------------------------------------

MaxContentLengthBuffer 10 K

#---------------------------------------------------------------------
# This server runs with the maximum priority available to a 
# normal process.
#---------------------------------------------------------------------

ServerPriority 1

#---------------------------------------------------------------------
# This server logs all accesses and errors, and prunes its own
# log files after seven days.
#---------------------------------------------------------------------
 
LogFormat Common
LogTime LocalTime
LogToGUI on

AccessLog    d:\log\HTTPDaccess.log
AgentLog     d:\log\HTTPDagent.log
RefererLog   d:\log\HTTPDreferer.log
ErrorLog     d:\log\HTTPDerror.log
CgiErrorLog  d:\log\HTTPDcgierror.log

AccessLogArchive   purge
AccessLogExpire    7
AccessLogSizeLimit 0

ErrorLogArchive    purge
ErrorLogExpire     7
ErrorLogSizeLimit  0

#---------------------------------------------------------------------
# This server does not serve HTML files, but if it did, it would 
# not cache them.
#---------------------------------------------------------------------
 
Caching off
Gc on
GcDailyGc 03:00
GcMemUsage 1000
LiveLocalCache off

#---------------------------------------------------------------------
# This server does not engage in cosmetic activities.
#---------------------------------------------------------------------
 
DNS-Lookup off
imbeds off
SNMP off
UseACLs never

#---------------------------------------------------------------------
# This server does not handle directory requests, but if it did,
# it would format them as specified here.
#---------------------------------------------------------------------

DirAccess          off
DirReadme          off
DirShowBrackets    off
DirShowBytes       on
DirShowCase        off
DirShowDate        on
DirShowDescription off
DirShowHidden      off
DirShowIcons       off
DirShowMaxLength   15
DirShowMinLength   15
DirShowSize        on 

#---------------------------------------------------------------------
# This server does not serve files, but if it did, it would return
# these MIME types for well-known file extensions.
#---------------------------------------------------------------------
 
SuffixCaseSense off

AddType  .bin      application/octet-stream          binary  1.0 # Uninterpreted binary
AddType  .pdf      application/pdf                   binary  1.0
AddType  .eps      application/postscript            8bit    0.8
AddType  .ps       application/postscript            8bit    0.8
AddType  .bmp      image/bmp                         binary  1.0 # OS/2 bitmap format
AddType  .gif      image/gif                         binary  1.0 # GIF
AddType  .jpg      image/jpeg                        binary  1.0 # JPEG
AddType  .jpeg     image/jpeg                        binary  1.0
AddType  .html     text/html                         8bit    1.0 # HTML
AddType  .htm      text/html                         8bit    1.0 # HTML on PCs
AddType  .java     text/plain                        7bit    0.5 # Java source
AddType  .txt      text/plain                        7bit    0.5 # Plain text
AddType  .css      text/css                          8bit    1.0 # W3C Cascading Style Sheets
AddType  .gz       multipart/x-gzip                  binary  1.0
AddType  .tar      multipart/x-tar                   binary  1.0 # 4.    3BSD tar
AddType  .zip      multipart/x-zip                   binary  1.0 # PKZIP
AddType  *.*       www/unknown                       binary  0.2 # Try to guess
AddType  *         www/unknown                       binary  0.2 # Try to guess
AddType  .         text/plain                        7bit    0.5 # files with no extension


