// Copyright 1995 Symantec Corporation                                  
//***************************************************************************
// 
// $Header:   N:\syminteg\vcs\symintg.rcv   1.1   14 Jun 1995 14:14:06   MARKL  $ 
// 
// Description: 
//      Resource file for SYMINTEG project.
// 
//***************************************************************************
// $Log:   N:\syminteg\vcs\symintg.rcv  $ 
// 
//    Rev 1.1   14 Jun 1995 14:14:06   MARKL
//***************************************************************************


#include <windows.h>

#ifndef MIRRORS
//***************************************************************************
// Version Information
//***************************************************************************
#define VR_FILEDESCRIPTION      "Norton AntiVirus Integrity Library"
#define VR_INTERNALNAME         "S32INTG"
#define VR_ORIGINALFILENAME     "S32INTG.DLL"
#include "vlib.ver"
#endif

