/*//////////////////////
//
// PROPRIETARY / CONFIDENTIAL.
// Use of this product is subject to license terms.
// Copyright © 2006 Symantec Corporation.
// All rights reserved.
//
///////////////////////////////////////////////////////////////////////////////////////////////*/

body, p, td 		{ color: #333333; font-family: Arial, Tahoma; font-size: 12px; font-weight: normal; }
body, table, td, p 	{ margin: 0 }
table 				{	border: 0; padding: 0 }
td	{	font-family: Arial, Tahoma; font-size: 14px; font-weight: normal; }

.aHelp 	{ font-family: Arial, Tahoma; font-size: 14px; color: blue; cursor: hand; text-decoration: underline;}

.aHeadline	{	font-family: Arial, Tahoma; font-size: 15px; font-weight: bold; }

.aText	{	font-family: Arial, Tahoma; font-size: 14px; font-weight: normal; }

.aSelect { border-bottom: black 1px solid; border-left: black 1px solid; border-right: black 1px solid; 
	border-top: black 1px solid; font-family: Tahoma; font-size: 14px; width: 55px }

#title-section 		{ margin-top: 10px; margin-bottom: 5px; margin-left: 20px; 
						font-family: Arial, Tahoma; font-size: 20px; font-weight: normal; color:#797569; }

#headline-section	{ margin-left: 20px; margin-right: 20px; margin-top:10px; }

#details-section	{ margin-left: 20px; margin-right: 20px; margin-bottom: 10px; 
						font-family: Arial, Tahoma; font-size: 14px; font-weight: normal; }

#selection-section 	{ margin-left: 20px; margin-top:20px; margin-bottom: 20px; 
						font-family: Arial, Tahoma; font-size: 14px; font-weight: normal; }

#button-section		{ margin-top: 20px; margin-bottom: 20px; margin-left: 147px; margin-right: 147px; }

#two-button-section		{ margin-top: 20px; margin-bottom: 20px; margin-left: 94px; }

.separator 			{  	border-bottom:1px solid #FEC601; }

#headline-separator	{	border-bottom:1px dotted black; margin-right: 20px; width:241; height:1px; }

button.aButton		{	font-family: Arial, Tahoma; font-size: 11px; font-weight: normal; color: #3c3c3c; border-width:0px; background:no-repeat top left; 
								margin: 0; cursor: default; width: 91px; height: 24px; background-image:url(cnsl-btn-norm-tall.png) }

button.aButton:hover	{	background-image: url(cnsl-btn-hvr-tall.png); }

button.aButton:active	{	background-image: url(cnsl-btn-prss-tall.png); }

button.aButton:focus	{	background-image: url(cnsl-btn-dflt-tall.png); }

button.aButton:focus:active {	background-image: url(cnsl-btn-prss-tall.png); }

button.aButton:disabled	{	background-image: url(cnsl-btn-disbl-tall.png); color: #8c8c8c;}

