/*//////////////////////
//
// PROPRIETARY / CONFIDENTIAL.
// Use of this product is subject to license terms.
// Copyright © 2006 Symantec Corporation.
// All rights reserved.
//
///////////////////////////////////////////////////////////////////////////////////////////////*/

body, p, td { color: #464646; font-family: Tahoma; font-size: 12px; font-weight: normal }
body, table, td, p { margin: 0 }
table {	border: 0; padding: 0 }

nobr { text-overflow:ellipsis; overflow: hidden; cursor: default }

.hidden { display:none; visibility: hidden; position:absolute; left:0; top:0; width:1px; height:1px }

.navPanelBody { background-image: url('panelBg.jpg'); background-repeat: no-repeat; background-position: left top; 
		margin-left:8; margin-right:0; margin-top:0; margin-bottom:0 }

.navPanelTitleTD { vertical-align: bottom; padding-bottom:1px; border-bottom:1px solid #999999; font-family: Franklin Gothic Medium, Arial; font-size: 20px; font-weight: normal }
.navPanelTitle { color: #464646 }
.navStatSysStatusOK { color: #008040 }
.navStatSysStatusWarn { color: #FF6633 }
.navStatSysStatusUrgent { color: #FF0000 }

.navStatCategory { height: 25px; font-weight: bold; padding-top:2px; padding-bottom:4px }

.navStatItemTR { cursor: hand }
.navStatItemTRSelected { cursor: default }

.navStatItemStateIcon { margin-left:8; margin-right:10; margin-top:5; margin-bottom:5 }

.navItemSeparator { background-image: url('dashline.gif'); background-repeat: repeat-x; height: 1px }

.navStatItemSeparator { background-image: url('statTabSeparator.gif'); background-repeat: no-repeat; height: 1px }

a.navTask { color: #0000FF; text-decoration:underline; padding-left:2px }
a:visited.navTask { color:#0000FF }
a:hover.navTask { color:#0000FF; text-decoration:underline }

a.navTaskSelected { color: #464646; text-decoration:none; cursor: default; padding-left:2px }
a:visited.navTaskSelected { color:#464646 }
a:hover.navTaskSelected { color:#464646; text-decoration:none; cursor: default }

.navStatItemValue { color: #464646 }
.navStatItemValueOK { color: #464646 }
.navStatItemValueWarn { color: #CC0000 }
.navStatItemValueUrgent { color: #CC0000 }

.navStatHintBg { background-image: url('statHints.png'); background-repeat: no-repeat; background-position: right bottom; z-index: 0; position:relative; padding-top: 10 }
.navStatHintTable { padding-left: 7px; padding-right: 5px }
.navStatHintTitle { height: 35px; font-weight: bold; padding-bottom:7px; text-align:center }
.navStatHintText { font-weight: normal; font-size: 11px }

a.navStatHintMoreInfo { font-size: 11px; color:#0000FF; padding-left:2px }
a:visited.navStatHintMoreInfo { color:#0000FF }

.navScanTaskIcon { margin-left:8px; margin-right:8; margin-top:2px; margin-bottom:2px; cursor: hand }
.navScanActionIcon { margin-left:0; margin-right:0; margin-top:0; margin-bottom:0; cursor: hand }

.navTaskTRSelected { background-color: #D9ECFF }
	
.navListBox { border: 1px solid #7F9DB9 }

span.navTaskTab { background:no-repeat top left; z-index: -1; left: 0px; visibility: hidden; position: absolute; width: 303 }

button.symButton { font-size: 11px; color: #000000; border-width:0px; background:no-repeat top left; margin: 0; cursor: hand; width: 100%; height: 100% }
span.symButton { border:1px solid #000000 }