/////////////////////////////////////////////////////////////////////////////
//  Copyright (c)1998 - Symantec, Peter Norton Computing Group
/////////////////////////////////////////////////////////////////////////////
//
//  $Header:   N:/SCANDLVR/VCS/scandlvr.rcv   1.0   23 Jun 1998 15:33:52   mdunn  $
//
//  SCANDLVR.RC - Resources for Scan & Deliver
//
/////////////////////////////////////////////////////////////////////////////
//  $Log:   N:/SCANDLVR/VCS/scandlvr.rcv  $
//
//    Rev 1.0   23 Jun 1998 15:33:52   mdunn
// Initial revision.
/////////////////////////////////////////////////////////////////////////////

#include "windows.h"
#include "NAVVer.h"
#include "filever.h"
#include "verinc.rc"

