#define _WINNT_
#include "platform.h"

//**************************************************************************
// Version info
//**************************************************************************
#define VR_FILESUBTYPE          UNDEFINED_DEVICE_ID
#define VR_FILEDESCRIPTION      "NAV Auto Protect Exclusion List VxD\0"
#define VR_INTERNALNAME         "NAVAPEL\0"
#define VR_ORIGINALFILENAME     "NAVAPEL.VXD\0"
#include <ver.h>
#include "nav.ver"
