body {
   font-family: Verdana,Tahoma,Arial,Helvetica,Sans-Serif;
   padding: 0;
   margin: 0;
}

img {
   border: 0;
}

a {
   color: #cc6600;
   text-decoration: none;
}

a:visited {
   color: #984F05;
   text-decoration: none;
}

a:active {
   color: #cc6600;
}

a:hover {
   color: #cc6600;
   text-decoration: underline;
}


input, select {
   font-size: 10px;
}

h2 {
   font-size: 24px;
   font-family: Arial,Helvetica,Sans-Serif;
   margin: 0px 0px 15px 0px;
}

h2.top {
   margin: 0px 0px 26px 0px;
   line-height: 16px;
}

div.hm h2 {color: #816679; }
div.sb h2 {color: #698BA8; }
div.co h2 {color: #9D9692; }

/* Box Shrink Table */

table.shrink {
   border-collapse: collapse;
   margin:0; padding: 0;
}

table.shrink td {
   margin: 0; padding: 0;
}


/* Nested Menu */


div.nested-menu-outer {
   background-image: url(../images/arc_grey_br_10.en-us.gif);
   background-position: bottom right;
   background-repeat: no-repeat;
   background-color: #EBEBEB;
   padding-bottom: 50px;
   position: relative;

}

div.nested-menu-upper {
   background: #EBEBEB;
   background-image: url(../images/arc_grey_tr_10.en-us.gif);
   background-position: top right;
   background-repeat: no-repeat;
   height: 10px;

}

div.nested-menu-outer div.prop {
   /* height: 558px; */
   height: 515px;
   float: right;
   width: 1px;
}

div.nested-menu-outer div.clear {
   clear: both;
   height: 1px;
   overflow: hidden;
}

h3.nested-menu {
   background-image: url(../images/arc_trans_tr_10.en-us.gif);
   background-repeat: no-repeat;
   background-position: top right;
   padding: 2px 10px 2px 10px;
   margin: 28px 10px 1px 15px;
   font-size: 10px;
}

div.hm h3.nested-menu { background-color: #D0C9CE;}
div.sb h3.nested-menu { background-color: #CAD3DA;}


dl.nested-menu {
   font-size: 10px;
   padding: 0;
   margin: 0px;

}

dl.nested-menu a {

}

dl.nested-menu dt {
   background-image: url(../images/bg_dashed_line.en-us.gif);
   background-position: top;
   background-repeat: repeat-x;
   xpadding-left: 15px;
   xpadding-right: 10px;
   margin-left: 15px;
   margin-right: 10px;
}

dl.nested-menu dl dt  {
   background: none;
}

dl.nested-menu dt.bottom {
   margin-left: 15px;
   margin-right: 10px;
   xxborder-bottom: 1px dotted #666666;
   background-image: url(../images/bg_dashed_line.en-us2.gif);
   background-position: top;
   background-repeat: repeat-x;
   height: 2px;
   
}


dl.nested-menu dt a {
   display: block;
   padding: 4px 10px 4px 10px;
   color: #333333;
   xborder-top: 1px dotted #666666;
   background-image: url(../images/chevron.en-us.gif);
   background-position: 2px 5px;
   background-repeat: no-repeat;
   font-weight: bold;
   
}

dl.nested-menu dt a:visited {
color: #333333;
text-decoration: none;
}

dl.nested-menu dt a:hover {
color: #cc6600;
text-decoration: none;
}

dl.nested-menu dt.open a {
   background-image: url(../images/chevron_down.en-us.gif);
   xbackground-position: 12px 5px;
   background-repeat: no-repeat;
}

dl.nested-menu dt.on {
   background-color: #ffffff;
   margin-left: -11px;
   margin-right: 0px;
   xpadding-left: 25px;
   padding-left: 36px;
   background-image: none;
   font-weight: bold;
   padding: 4px 10px 4px 36px;
}

dl.nested-menu dt.on a {
   background-image: none;
   font-weight: bold;
   xmargin-left: -20px;
   xpadding-left: 40px;
}

/*
dl.nested-menu.hm dt.on a { color: #816679; }
dl.nested-menu.sb dt.on a { color: #698BA8; }
*/
div.hm dl.nested-menu dt.on { color: #816679; }
div.sb dl.nested-menu dt.on { color: #698BA8; }



dl.nested-menu dd {
   padding: 0;
   margin: 0;
} 

dl.nested-menu dd dl {
   margin: 0 0 8px 8px;
   padding: 0;
}

dl.nested-menu dd dl dt a {
   border-top: 0;
   font-size: 10px;
   font-weight: normal;
}

/* Top Banner */

div.top {

}

div.banner {
   background-image: url(../images/global.global.bg_top.jpg);
   margin-bottom: 1px;
}

div.banner-inner {
}

div.banner-inner img.logo {
   margin-bottom: 10px;
}

/* Utility Bar */

div.utility {
   width: 100%;
   position: absolute;
   z-index: 1;
}

div.utility-background {
   margin-left: 340px;
  background-color: #ffffff; 
}

table.utility-inner {
   border-collapse: collapse;   
   font-size: 1px;
}

table.utility-inner td {
   margin: 0;
   padding: 0;
}

table.utility-inner img.leftcurve {
   background: #FFCC00;
}

/* Utility Dropdown Menu */

div.dropdown {
   position: relative;
}

div.dropdown table.menu {
   border-collapse: collapse;
   display: none;
   position: absolute;
   left: 10px;
   top: 18px;
}

div.dropdown table.menu td {
   padding: 0px;
   white-space: nowrap;
   background-color: #ffffff;
}

div.dropdown table.menu td a {
   display: block;
   font-size: 11px;
   background-image: url(../images/bullet_chevron.en-us.gif);
   background-position: left;
   background-repeat: no-repeat;
   margin-left: 6px;
   margin-top: 2px;
   padding: 0px 6px 0px 8px;
   color: #333333;
}

div.dropdown table.menu td a:hover {
   color: #cc6600;
}

div.dropdown table.menu td.bottom {
   background-color: transparent;
}

div.dropdown table.menu td.bottom div.bl {
   background-image: url(../images/utility_curve_bl.en-us.gif);
   background-position: bottom left;
   background-repeat: no-repeat;
}

div.dropdown table.menu td.bottom div.br {
   background-image: url(../images/utility_curve_br.en-us.gif);
   background-position: bottom right;
   background-repeat: no-repeat;

}

div.dropdown table.menu td div.mid {
   background-color: white;
   font-size: 5px;
   margin-left: 5px;
   margin-right: 5px;
}


/* Tabs */


div.tabs-hm {
   background-image: url(../images/hm_tile.en-us.gif);
   background-repeat: repeat-x;

}

div.tabs-sb {
   background-image: url(../images/sb_tile.en-us.gif);
   background-repeat: repeat-x;
}


div.tabs-sizer {
  width: 800px;
}

div.title-bar-hm {
   position: relative;
   background-color: #593f52;
   background-image: url(../images/hm_bar.en-us.jpg);
   background-repeat: no-repeat;

}

div.title-bar-sb {
   position: relative;
   background-color: #415F79;
   background-image: url(../images/sb_bar.en-us.jpg);
   background-repeat: no-repeat;
}


/* Search */

div.search-sizer {
   position: relative;
   xwidth: 800px;
}

div.search {
   position: absolute;
   xright: 40px;
   left: 462px;
   top: 2px;
}
div.search table {
   border-collapse: collapse;
}

div.search table td {
   padding: 0;
}

div.search img.label {
   xpadding-top: 8px;
}
div.search input.textbox {
   width: 100px;
   xmargin-right: 4px;
   xmargin-left: 4px;
}
div.search input.button {
   margin-left: 4px;
   xposition: relative;
   xtop: 2px;
   xleft: 2px;
}

/* End of Top */

div.top-end {
   border-top: 1px solid #ffffff;
   border-bottom: 1px solid #999999;
}

/* Footer */

div.footer {
   width: 800px;
   padding-top: 50px;
   text-align: center;
   font-size: 10px;
   color: #999999;
}

div.copyright {
   width: 800px;
   text-align: center;
   font-size: 10px;
   line-height: 12pt;
   color: #999999;

}

div.validate {
   font-size: 10px;
   text-align: center;
   padding: 8px;
}


/* Master Layout Table */

table.layout {
   width: 780px;
   border: 0;
   padding: 0;
   margin: 0;
   border-collapse: collapse;
   
}

table.layout td {
   padding: 0;
   margin: 0;
   vertical-align: top;
   text-align: left;
   font-size: 8pt;
}

table.layout td.menu {
/*
   background-image: url(../images/arc_grey_tr_10.en-us.gif);
   background-position: top right;
   background-repeat: no-repeat;
   background-color: #EBEBEB; 
   padding-top: 10px;
*/
   width: 190px;
}

table.layout td.menu-bottom {
/*
   background-image: url(../images/arc_grey_br_10.en-us.gif);
   background-position: bottom right;
   background-repeat: no-repeat;
   background-color: #EBEBEB;
   padding-bottom: 10px;
*/
}

table.layout td.gutter-left {
   width: 15px;
}


table.layout td.gutter {
   width: 20px;
}

/* Crumbs */

div.crumbs {
   font-size: 10px;
   margin: 5px 0 20px 0;
   #height: 28px;
}

div.crumbs a {

}

div.crumbs span {
   margin: 0 0px;
   font-size: 8px;
   color: #999999;
}

div.crumbs b {
   font-weight: bold;
   color: #999999;
}

/* Two Column Layout */

div.center-col {
   float: left;
   width: 375px;
}

div.right-col {
   float: right;
   width: 180px;
}

/* Main Column Layout */

div.main-col {
   float: left;
   width: 555px;
}

/* Right Column Elements */

div.print {
   margin: 0 0 20px 0;
}

div.email {
   margin: 0 0 5px 0;
}

div.promo {
   margin: 20px 0px;
}

h3.right-menu  {
   margin: 0;
   margin-right: 27px;
   padding: 4px 4px 4px 8px;
   background-image: url(../images/fullcurve.gif);
   background-position: top right;
   background-repeat: no-repeat;
   background-color: #EBEBEB;
   color: #666666;
   font-size: 12px;
   font-family: arial, helvetica;
}

div.right-menu-spacer {
   border-top: 1px solid white;
   border-right: 1px solid #cccccc;
   background-image: url(../images/bg_dashed_line.en-us.gif);
   background-position: 0px 1px;
   background-repeat: repeat-x;
   height: 2px;
   font-size: 1px;
   line-height: 1px;
   
   xborder-bottom: 1px dotted #666666;
   xheight: 2px;
   xline-height: 0;
   xfont-size: 0;
}

dl.right-menu {
   margin: 0;
   margin-right: 27px;
   margin-bottom: -7px;
   padding: 0;

}


dl.right-menu dt {
   margin: 0 0 0 0;
   padding: 2px 2px 2px 8px;
   font-style: italic;
   font-family: Arial, Helvetica;
   font-size: 10px;
   color: #333333;
}

dl.right-menu b {
   color: #333333;
}

dl.right-menu dt.hm {
   background-color: #D0C9CE;
}

dl.right-menu dt.sb {
   background-color: #CAD3DA;
}


dl.right-menu dt em {
   font-style: normal;
   font-weight: bold;
}

dl.right-menu dd {
   margin: 0 0 0 5px;
   padding: 5px 0 10px 0;
   border-right: 1px solid #cccccc;
}

dl.right-menu dd a {
   display: block;   
   background-image: url(../images/bullet_chevron.en-us.gif);
   background-position: left;
   background-repeat: no-repeat;
   margin-left: 2px;
   padding-left: 8px;
}

dl.right-menu dd b {
   display: block;
   background-image: url(../images/bullet_chevron_reversed.en-us.gif);
   background-position: 0px 4px;
   background-repeat: no-repeat;
   margin-left: 2px;
   padding-left: 8px;


}

div.right-menu-bottom {
   margin-right: 27px;
   background-image: url(../images/box_bg_line_bottom.en-us.gif);
   background-position: bottom;
}

div.right-menu-bottom div {
   background-image: url(../images/box_br_corner.en-us.gif);
   background-position: bottom right;
   background-repeat: no-repeat;
   font-size: 8px;
   line-height: 8px;
}


/* Features */

div.features {
   margin: 0;
   padding: 0;
}

div.features h2 {
   color: #333333;
}

h3.features {
   font-size: 12px;
   /* color: #666666; */
   color: #333333;
   font-weight: bold;
   margin: 0;
   margin: 15px 0px 0px 0px;
}

div.features b {
   color: #333333;
}

div.features ul {
   margin: 0px 0px 0px 0px;
   padding: 0;
}

div.features li {
   background-image: url(../images/bullet_square.en-us.gif);
   background-position: 0px 6px;
   background-repeat: no-repeat;
   list-style-type: none;
   padding: 0px 0px 0px 7px;
   margin-left: 8px;
   font-size: 8pt;
   line-height: 15px;
   color: #333333;
}

/* BUY NOW Box */

div.buy {  
   margin-top: 22px;
   margin-bottom: 22px;
   background-color: #EBEBEB;
}

div.buy-line-hm {  
   border-top: 4px solid #816679;
}

div.buy-line-sb {  
   border-top: 4px solid #648BAC;
}



div.buy-inner {
   padding: 0px 0px 0 0px;
   border: 1px solid #CDCDCD;
}

div.buy form {
   margin: 0;
   margin-top: 3px;
   background-image: url(../images/bg_dashed_line.en-us.gif);
   xborder-top: #757575 1px dotted;
   background-position: top;
   background-repeat: repeat-x;
   padding: 5px 10px 5px 10px;

}

div.buy-label-hm {
   color: #816679;
   font-weight: bold;
   margin: 4px 0;
}

div.buy-label-sb {
   color: #698BA8;
   font-weight: bold;
   margin: 4px 0;
}


div.buy form select {
   xwidth: 100%;

}

div.buy table {
   border-collapse: collapse;   

   xtable-layout: fixed;
}

div.buy table tr {
   xvertical-align: bottom;
}

div.buy table td {
   margin: 0;
   padding: 0;
}

div.buy table td.button {
   xwidth: 75px;
   text-align: right;
   padding-left: 8px;
   xpadding: 0;
}
div.buy table td.button input {  
   margin-top: 3px;
}



/* Overview */

div.overview {
   margin: 0px 0px 20px 0px;
   padding: 2px 0 0 0;
   background-image: url(../images/bg_dashed_line.en-us.gif);
   background-position: top;
   background-repeat: repeat-x;
   xborder-top: #666666 1px dotted;
   color: #333333;
}

div.overview h2.overview {
   font-size: 15px;
   color: #666666;
   margin: 1px 0px 2px 0px;
   font-weight: bold;
}

div.overview ul {
   margin: 0px 0px 0px 8px;
   padding: 0;
   xcolor: #666666;
}

div.overview li {
   background-image: url(../images/bullet_square.en-us.gif);
   background-position: 0px 6px;
   background-repeat: no-repeat;
   list-style-type: none;
   padding: 0px 0px 0px 7px;
   font-size: 8pt;
   line-height: 15px;
   color: #333333;
}

div.overview div.view-all {
   font-size: 8pt;
   color: #cc6600;
   padding: 0px 0px 0px 8px;
   font-weight: bold;
}

div.overview div.view-all a {
   background-image: url(../images/bullet_chevron.en-us.gif);
   background-position: right 5px;
   background-repeat: no-repeat;
   padding-right: 8px;
}

div.overview-line {
   xborder-top: 1px dotted #666666;
   background-image: url(../images/bg_dashed_line.en-us.gif);
   background-position: top;
   background-repeat: repeat-x;
   padding-bottom: 2px;
}

div.overview-table {
   margin: 0px 0px 20px 0px;
   padding: 7px 0px 0px 0px;
   xborder-top: 1px dotted #666666;
   background-image: url(../images/bg_dashed_line.en-us.gif);
   background-position: top;
   background-repeat: repeat-x;


}

table.overview {
   xborder-top: 1px dotted #666666;
   xbackground-image: url(../images/bg_dashed_line.en-us.gif);
   xbackground-position: top;
   xbackground-repeat: repeat-x;

   width: 100%;
}

table.overview tr {
   padding: 0;
}

table.overview td.left {
   border-right: 1px dotted #666666;
   width: 50%;
   padding: 5px 10px 0px 0px;
   text-align: center;   
}

table.overview td.right {


   padding: 5px 0px 0px 10px;

}

div.overview div.awards {
   font-size: 8pt;
   color: #333333;
   margin-left: 7px;
   font-weight: bold;
}

/* Category */

div.category {
   width: 500px;
}

div.category div.intro {
   margin: 0;
   padding: 0;
   width: 375px;
}

div.category div.compare {
   margin: 10px 10px 0px 0px;
   xbackground-image: url(../images/chevron.en-us.gif);
   xbackground-position: 2px 2px;
   xbackground-repeat: no-repeat;
   font-size: 8pt;
   color: #cc6600;
   padding: 0px 0px 0px 8px;
   xfont-weight: bold;
   float: right;
}

table.category {
   border-collapse: collapse;
}

table.category tr {
   xborder-top: 1px dotted #666666;
   margin: 10px 0px 10px 0px;
}

table.category td.left {
   background-image: url(../images/bg_dashed_line.en-us.gif);
   background-position: top;
   background-repeat: repeat-x;
   xborder-top: 1px dotted #666666;
   padding: 10px 0px 10px 0px;
   width: 75px;
   color: #333333;
}

table.category td.right {
   background-image: url(../images/bg_dashed_line.en-us.gif);
   background-position: top;
   background-repeat: repeat-x;
   xborder-top: 1px dotted #666666;
   padding: 10px 0px 10px 18px;
   color: #333333;
}

table.category td.bottom {
   background-image: url(../images/bg_dashed_line.en-us.gif);
   background-position: top;
   background-repeat: repeat-x;
   height: 1px;

}

div.category div.description {
   padding: 0;
   margin: 0px 0px 5px 0px;
}

table.category td.price {
   font-weight: bold;
   font-size: 11px;
   margin: 0px 10px 0px 0px;

   text-align: right;
}

table.category td.add {
   padding-left: 7px;
   padding-right: 7px;
}

table.category td.more {
   margin: 10px 0px 0px 0px;
   background-image: url(../images/chevron.en-us.gif);
   background-position: 2px 2px;
   background-repeat: no-repeat;
   font-size: 8pt;
   color: #cc6600;
   padding: 0px 0px 0px 8px;
   margin: 0px 0px 0px 10px;
   font-weight: bold;
}


table.category table td {
   white-space: nowrap;
}



/* Products */

table.products {
   width: 100%;
   margin: 10px 0px 25px 0px;
   padding: 0;
}

table.products tr {

}

table.products td.left {
   width: 50%;
   font-size: 10px; 
   xfont-weight: bold;
   padding: 0px 10px 0px 0px;
   text-align: left;   
}
table.products td.right {
   font-size: 10px; 
   xfont-weight: bold;
   padding: 0px 0px 0px 0px;
}


div.products {
   padding: 0; 
   margin: 10px 0px 0px 0px;
}

div.products ul {
   margin: 0px 0px 0px 0px;
   padding: 0;
}

div.products li {
   background-image: url(../images/bullet_square.en-us.gif);
   background-position: 0px 6px;
   background-repeat: no-repeat;
   list-style-type: none;
   padding: 0px 0px 0px 7px;
   margin-left: 8px;
   font-size: 11px;
   line-height: 15px;
   color: #cc6600;
}

div.products div.section {
   font-size: 12px;
   font-weight: bold;
   color: #cc6600;
   margin: 0;
   padding: 0;
}

div.products div.summary {
   font-size: 10px;
   xxfont-weight: bold;
   xcolor: #666666;
   margin-bottom: 2px;
} 


/* Requirements */


div.requirements {
   margin: 0;
   padding: 0;
}

div.requirements h2 {
   font-size: 24px;
   font-family: Arial,Helvetica,Sans-Serif;
   margin: 0px;
   padding: 0px;
}

div.secondary-head {  
   font-size: 17px;
   font-family: Arial,Helvetica,Sans-Serif;
   margin: 0px;
   color: #666666;
   font-weight: bold;
   margin: 0px;
   padding: 0px;
}

div.requirements h3 {
   font-size: 12px;
   /* color: #666666; */
   color: #333333;
   font-weight: bold;
   margin: 15px 0px 0px 0px;
}

div.requirements ul {
   margin: 0px 0px 0px 0px;
   padding: 0;
}

div.requirements li {
   background-image: url(../images/bullet_square.en-us.gif);
   background-position: 0px 6px;
   background-repeat: no-repeat;
   list-style-type: none;
   padding: 0px 0px 0px 7px;
   margin-left: 8px;
   font-size: 8pt;
   line-height: 15px;
   color: #333333;
}


/* Downloads */


div.download {
   margin: 0px;
   padding: 0px;
   width: 570px;
   xbackground-color: #cccccc;
}

div.download-section {
   color: #333333;
   background-image: url(../images/bg_dashed_line.en-us.gif);
   background-position: bottom;
   background-repeat: repeat-x;
   margin: 0;
   padding: 0px 0px 26px 0px;
   font-size: 8pt;
}

h2.download {
   font-size: 24px;
   font-family: Arial,Helvetica,Sans-Serif;
   margin: 0px 0px 15px 0px;
   line-height: 24px;
}

div.download-section-simple {
   color: #333333;
   xbackground-image: url(../images/bg_dashed_line.en-us.gif);
   xbackground-position: bottom;
   xbackground-repeat: repeat-x;
   margin: 0;
   padding: 0px 0px 26px 0px;
   font-size: 8pt;
}

div.download h3 {
   font-size: 15px;
   color: #333333;
   font-family: Arial,Helvetica,Sans-Serif;
   margin: 4px 0px 0px 0px;
   line-height: 16px;
   font-weight: bold;
}

div.download table {
   margin: 0;
   padding: 0;

}

div.download table td {
   text-align: right;
   padding: 0px 6px 1px 3px;
}

div.download table td.button {
   text-align: right;
   vertical-align: bottom;
   padding-bottom: 4px;
}

div.download form {
   margin: 0;
   margin-top: 3px;
   padding: 5px 10px 0px 10px;

}

div.download ul {
   margin: 0px 0px 0px 0px;
   padding: 5px 10px 0px 8px;
}

div.download li {
   background-image: url(../images/chevron.en-us.gif);
   background-position: 0px 3px;
   background-repeat: no-repeat;
   list-style-type: none;
   padding: 0px 0px 0px 7px;
   margin-left: 8px;
   font-size: 8pt;
   line-height: 15px;
   color: #333333;
}



/* Index */

div.landing {
   float: left;
   width: 570px;
}

div.index {
   margin-top: 25px;
   xwidth: 670;
   color: #666666;
}

table.index {
   border-collapse: collapse;
   table-layout: fixed;
   xwidth: 570px;
}

table.index tr {
   margin: 0;
   padding: 0;
}
table.index td {
   font-size: 10px;
}

table.index td.col-1 {
   width: 180px;
}

table.index td.col-2 {
   width: 375px;
}


table.index td.gutter {
   xbackground: lightblue;
   width: 15px;

}

div.index h2 {
   font-family: Arial,Helvetica,Sans-Serif;
   font-size: 18px;
   line-height: 18px;
   color: #415f78;
   margin:0;
   padding: 0;
}

div.index div.topline {
   background-image: url(../images/bg_dashed_line.en-us.gif);
   background-position: top;
   background-repeat: repeat-x;
   padding-top: 12px;
   margin-top: 1px;
}

div.index div.topline-0 {
   background-image: url(../images/bg_dashed_line.en-us.gif);
   background-position: top;
   background-repeat: repeat-x;
   padding-top: 2px;
   margin-top: 6px;
}



div.index div.topline-30 {
   background-image: url(../images/bg_dashed_line.en-us.gif);
   background-position: top;
   background-repeat: repeat-x;
   padding-top: 12px;
   margin-top: 30px;
}




/* JCS */

div.index div.column {
   padding: 0;
   margin: 0;
}

div.index div.bluehead {
   font-family: Arial,Helvetica,Sans-Serif;
   background-color: #cad3da;
   font-size: 14px;
   font-weight: bold;
   color: #415f78;
   padding: 2px 0px 2px 5px;
}


div.index div.spacer {
   margin-top: 2px;
   padding: 0;
   background-image: url(../images/bg_dashed_line.en-us.gif);
   background-position: top;
   background-repeat: repeat-x;
   height: 1px;
   line-height: 1px;
}


div.index ul {
   margin: 0px 0px 0px 0px;
   padding: 5px 10px 30px 0px;
}

div.index li {
   background-image: url(../images/bullet_square.en-us.gif);
   background-position: 0px 5px;
   background-repeat: no-repeat;
   list-style-type: none;
   padding: 0px 0px 0px 7px;
   margin-left: 8px;
   font-size: 8pt;
   line-height: 15px;
}



div.index li.more {
   background-image: url(../images/chevron.en-us.gif);
   background-position: 0px 2px;
   background-repeat: no-repeat;
   list-style-type: none;
   padding: 0px 0px 0px 7px;
   margin-left: 8px;
   font-size: 8pt;
   line-height: 15px;
}


div.index div.section {
   font-size: 14px;
   font-weight: bold;
   color: #666666;
   margin: 0;
   padding: 0px 0px 0px 5px;
}

div.index div.summary {
   font-size: 11px;
   xfont-weight: bold;
   color: #666666;
   margin: 0px;
   padding: 0px 0px 0px 5px;
} 


div.index dl {
   margin: 0;
   padding: 0;
}

div.index dt.title {
   margin: 0px 0px 10px 0px;
   padding: 0;
   color: #333333;
   font-weight: bold;
   font-size: 8pt;
}

div.index dt {
   margin: 0;
   padding: 0;
   font-weight: bold;
   font-size: 8pt;
}


div.index dd {
   padding: 0;
   margin: 0px 0px 12px 0px;
   font-size: 8pt;

} 

div.index dd.more {
   background-image: url(../images/chevron.en-us.gif);
   background-position: 0px 2px;
   background-repeat: no-repeat;
   list-style-type: none;
   padding: 0px 0px 0px 7px;
   font-size: 8pt;
   line-height: 15px;
}

div.index div.view-all a {
   background-image: url(../images/bullet_chevron.en-us.gif);
   background-position: right 5px;
   background-repeat: no-repeat;
   padding-right: 8px;
   font-size: 8pt;
}

div.index h2 {
   font-family: Arial,Helvetica,Sans-Serif;
   font-size: 18px;
   color: #415f78;
   margin:0;
   padding: 2px 0px 0px 0px;

}

div.index h3 {
   font-family: Arial,Helvetica,Sans-Serif;
   font-size: 10px;
   color: #666666;
   font-weight: bold;
   margin: 0;
   padding: 2px 0px 0px 0px;
}

div.index div.products-spacer {
   font-family: Arial,Helvetica,Sans-Serif;
   width: 375px;
   margin-top: 0px;
   padding: 0px 0px 0px 0px;
   background-image: url(../images/bg_dashed_line.en-us.gif);
   background-position: top;
   background-repeat: repeat-x;
   height: 1px;
}

div.index span.price {
   color: #333333;
   font-weight: bold;
   font-size: 8pt;
}

div.product-finder {
   padding: 24px 0 24px 0;
   margin-bottom: 25px;
   font-size: 20px;
   background: lightblue;
   text-align: center;
}

/* Article Library */


div.library {
   padding: 0; 
   margin: 0;
}

div.library h2 {
   color: #333333;
   font-size: 24px;
   font-family: Arial,Helvetica,Sans-Serif;
   margin: 0px 0px 15px 0px;
}

table.library {
   width: 100%;
   margin-top: 0px;
   padding: 0;
}

table.library tr {

}

table.library td.left {

   font-size: 10px; 
   padding: 0px 0px 0px 0px;
   text-align: left;
   width: 375px;
   xborder-right: 1px solid #000000   
}

table.library td.right {
   font-size: 10px; 
   padding: 0px 0px 0px 0px;
}

table.library td.gutter {
   width: 15px;
   xborder-right: 1px solid #000000   
}

div.library div.section {
   margin: 0px 0px 0px 0px;
   padding: 0;
}


div.library div.section-head {
   background-image: url(/img/solid_gray_spacer.gif);
   background-position: 0 26px;
   background-repeat: no-repeat;
   margin: 15px 0px 2px 0px;
   padding: 10px 0px 10px 0px;
}

div.library div.section-title {
   font-size: 17px;
   color: #666666;
   font-family: Arial,Helvetica,Sans-Serif;
   line-height: 18px;
   font-weight: bold;
}

table.section {
   margin: 0;
   padding: 0;
   xborder-top: 1px solid #000000;
}

table.section tr {

}

table.section td.image {
   padding: 3px 0px 0px 0px;
   text-align: left;
}

table.section td.text {
  padding: 0;
  margin: 0;  
}

div.library div.section ul {
   margin: 0px 0px 0px 0px;
   padding: 0;
}

div.library div.section li {
   background-image: url(../images/bullet_chevron.en-us.gif);
   background-position: 0px 5px;
   background-repeat: no-repeat;
   list-style-type: none;
   padding: 0px 0px 0px 7px;
   margin-left: 8px;
   font-size: 11px;
   line-height: 15px;
   color: #cc6600;
}

div.library div.topics {
   xbackground-image: url(../images/bg_dashed_line.en-us.gif);
   xbackground-position: 0px 0px;
   xbackground-repeat: repeat-x;
   background-color: #EBEBEB;
   margin-top: 41px;
   padding: 0px 0px 0px 0px;
} 

div.library div.topics div.topline {
   background-image: url(../images/bg_dashed_line.en-us.gif);
   background-position: top;
   background-position: 0px 0px;
   background-repeat: repeat-x;
   padding: 0px 0px 0px 0px;
   margin: 0px 0px 0px 0px;
}

div.library div.topics div.bottomline {
   background-image: url(/img/bg_dashed_line.en-us2.gif);
   background-position: bottom;
   background-repeat: repeat-x;
   padding: 0px 0px 12px 0px;
   margin: 0px 0px 0px 0px;
}

div.library div.topics div.title {
   font-size: 15px;
   color: #333333;
   font-family: Arial,Helvetica,Sans-Serif;
   line-height: 16px;
   font-weight: bold;
   padding: 10px 0px 0px 10px;
}

div.library div.topics div.header {
   font-size: 11px;
   color: #333333;
   font-family: Arial,Helvetica,Sans-Serif;
   font-weight: bold;
   padding: 7px 0px 3px 11px;
}

div.library div.topics ul {
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 10px;
}

div.library div.topics li {
   background-image: url(/img/bullets/black_bullet.gif);
   background-position: 0px 6px;
   background-repeat: no-repeat;
   list-style-type: none;
   padding: 0px 0px 0px 7px;
   margin-left: 8px;
   font-size: 11px;
   line-height: 15px;
}

div.library div.topics a {
   color: #333333;
   text-decoration: underline;
}

div.library div.topics a:hover {
   color: #cc6600;
   text-decoration: underline;
}

