// Copyright 1995 - 2004 Symantec Corporation. All rights reserved.
//***************************************************************************
//
// $Header:   N:/NAVWORK/VCS/navwork.rcv   1.6   23 Jun 1998 15:50:48   mdunn  $
//
// Description:
//      Resource file for NAVWORK project.
//
// NAVWORK.RC2 - resources Microsoft Visual C++ does not edit directly
//
//
//***************************************************************************
// $Log:   N:/NAVWORK/VCS/navwork.rcv  $
// 
//    Rev 1.6   23 Jun 1998 15:50:48   mdunn
// Uncommented-out the version info.
// 
//    Rev 1.5   19 May 1998 16:01:12   DBuches
// Added in animation frames.
//
//    Rev 1.4   06 Apr 1998 15:21:54   DBuches
// Added new animation control to scanning dialog.
//
//    Rev 1.3   03 Apr 1998 12:06:22   tcashin
// Added the bitmap resources for the new quarantine panel in the repair wizard.
//
//    Rev 1.2   09 Mar 1998 23:49:10   DALLEE
// Removed old Repair Wizard UI elements.
// Replaced with stuff for new Repair Wizard.
//
//    Rev 1.1   18 Jul 1997 19:47:38   GWESTER
// Added 256-color animations.
//
//    Rev 1.0   06 Feb 1997 21:03:26   RFULLER
// Initial revision
//***************************************************************************

#ifdef APSTUDIO_INVOKED
	#error this file is not editable by Microsoft Visual C++
#endif //APSTUDIO_INVOKED

#include "afxres.h"

/////////////////////////////////////////////////////////////////////////////
// English (U.S.) resources

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

#include "navwork.dlg"
#include "navwork.stb"
#include "afxres.rc"

//***************************************************************************
// Version Information
//***************************************************************************
#define VR_FILEDESCRIPTION      "Symantec AntiVirus Utilities"
#define VR_INTERNALNAME         "N32WORK"
#define VR_ORIGINALFILENAME     "N32WORK.DLL"
#include "nav.ver"

/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//

// Virus Info
IDB_CHECKMARK           BITMAP  DISCARDABLE     "CHECK.BMP"
IDB_CHECKMARK_MASK      BITMAP  DISCARDABLE     "CHECKM.BMP"
IDB_NOWAYJOSE           BITMAP  DISCARDABLE     "NOWAY.BMP"
IDB_NOWAYJOSE_MASK      BITMAP  DISCARDABLE     "NOWAYM.BMP"
IDB_NETSCAPELOGO        BITMAP  DISCARDABLE     "NETSCP.BMP"
IDB_NETSCAPELOGO_MASK   BITMAP  DISCARDABLE     "NETSCPM.BMP"

// Repair Wizard

IDB_SIRENS              BITMAP  DISCARDABLE     "sirens.bmp"
IDB_WZ256_0             BITMAP  DISCARDABLE     "WZ256_0.BMP"
IDB_WZ256_1             BITMAP  DISCARDABLE     "WZ256_1.BMP"
IDB_WZ256_2             BITMAP  DISCARDABLE     "WZ256_2.BMP"
IDB_WZ256_3             BITMAP  DISCARDABLE     "WZ256_3.BMP"
IDB_WZ256_4             BITMAP  DISCARDABLE     "WZ256_4.BMP"
IDB_WZ256_5             BITMAP  DISCARDABLE     "WZ256_5.BMP"
IDB_WZ256_6             BITMAP  DISCARDABLE     "WZ256_6.BMP"
IDB_WZ256_7             BITMAP  DISCARDABLE     "WZ256_7.BMP"

IDB_WZ_16_0             BITMAP  DISCARDABLE     "WZ_16_0.BMP"
IDB_WZ_16_1             BITMAP  DISCARDABLE     "WZ_16_1.BMP"
IDB_WZ_16_2             BITMAP  DISCARDABLE     "WZ_16_2.BMP"
IDB_WZ_16_3             BITMAP  DISCARDABLE     "WZ_16_3.BMP"
IDB_WZ_16_4             BITMAP  DISCARDABLE     "WZ_16_4.BMP"
IDB_WZ_16_5             BITMAP  DISCARDABLE     "WZ_16_5.BMP"
IDB_WZ_16_6             BITMAP  DISCARDABLE     "WZ_16_6.BMP"
IDB_WZ_16_7             BITMAP  DISCARDABLE     "WZ_16_7.BMP"


// --------------------------------------------------------------------
//
// NOTE: This is the place to define NAVWORK Animation BITMAPS!
//

ID_SCAN_ANIMATION256    AVI     DISCARDABLE     "ani256.avi"
ID_SCAN_ANIMATION16     AVI     DISCARDABLE     "ani16.avi"

        ID_NAVVIRFOUND_ANIM_BMP_1       BITMAP  "SIREN01.bmp"
        ID_NAVVIRFOUND_ANIM_BMP_2       BITMAP  "SIREN02.bmp"
        ID_NAVVIRFOUND_ANIM_BMP_3       BITMAP  "SIREN03.bmp"
        ID_NAVVIRFOUND_ANIM_BMP_4       BITMAP  "SIREN04.bmp"
        ID_NAVVIRFOUND_ANIM_BMP_5       BITMAP  "SIREN05.bmp"
        ID_NAVVIRFOUND_ANIM_BMP_6       BITMAP  "SIREN06.bmp"
        ID_NAVVIRFOUND_ANIM_BMP_7       BITMAP  "SIREN07.bmp"
        ID_NAVVIRFOUND_ANIM_BMP_8       BITMAP  "SIREN08.bmp"
        ID_NAVVIRFOUND_ANIM_BMP_9       BITMAP  "SIREN09.bmp"
        ID_NAVVIRFOUND_ANIM_BMP_10      BITMAP  "SIREN10.bmp"
        ID_NAVVIRFOUND_ANIM_BMP_11      BITMAP  "SIREN11.bmp"
        ID_NAVVIRFOUND_ANIM_BMP_12      BITMAP  "SIREN12.bmp"
        ID_NAVVIRFOUND_ANIM_BMP_13      BITMAP  "SIREN13.bmp"
        ID_NAVVIRFOUND_ANIM_BMP_14      BITMAP  "SIREN14.bmp"
        ID_NAVVIRFOUND_ANIM_BMP_15      BITMAP  "SIREN15.bmp"
        ID_NAVVIRFOUND_ANIM_BMP_16      BITMAP  "SIREN16.bmp"
        ID_NAVVIRFOUND_ANIM_BMP_17      BITMAP  "SIREN17.bmp"
        ID_NAVVIRFOUND_ANIM_MASK_BMP_1  BITMAP  "SIREN01m.bmp"
        ID_NAVVIRFOUND_ANIM_MASK_BMP_2  BITMAP  "SIREN02m.bmp"
        ID_NAVVIRFOUND_ANIM_MASK_BMP_3  BITMAP  "SIREN03m.bmp"
        ID_NAVVIRFOUND_ANIM_MASK_BMP_4  BITMAP  "SIREN04m.bmp"
        ID_NAVVIRFOUND_ANIM_MASK_BMP_5  BITMAP  "SIREN05m.bmp"
        ID_NAVVIRFOUND_ANIM_MASK_BMP_6  BITMAP  "SIREN06m.bmp"
        ID_NAVVIRFOUND_ANIM_MASK_BMP_7  BITMAP  "SIREN07m.bmp"
        ID_NAVVIRFOUND_ANIM_MASK_BMP_8  BITMAP  "SIREN08m.bmp"
        ID_NAVVIRFOUND_ANIM_MASK_BMP_9  BITMAP  "SIREN09m.bmp"
        ID_NAVVIRFOUND_ANIM_MASK_BMP_10 BITMAP  "SIREN10m.bmp"
        ID_NAVVIRFOUND_ANIM_MASK_BMP_11 BITMAP  "SIREN11m.bmp"
        ID_NAVVIRFOUND_ANIM_MASK_BMP_12 BITMAP  "SIREN12m.bmp"
        ID_NAVVIRFOUND_ANIM_MASK_BMP_13 BITMAP  "SIREN13m.bmp"
        ID_NAVVIRFOUND_ANIM_MASK_BMP_14 BITMAP  "SIREN14m.bmp"
        ID_NAVVIRFOUND_ANIM_MASK_BMP_15 BITMAP  "SIREN15m.bmp"
        ID_NAVVIRFOUND_ANIM_MASK_BMP_16 BITMAP  "SIREN16m.bmp"
        ID_NAVVIRFOUND_ANIM_MASK_BMP_17 BITMAP  "SIREN17m.bmp"


/////////////////////////////////////////////////////////////////////////////
//
// Icons
//

ID_ICON_NAV0        ICON    "nav0.ico"
ID_ICON_ADVOTEXT    ICON    "advoinfo.ico"

// Minimized scanning.
ID_ICON_NAV1            ICON    "scanner1.ico"
ID_ICON_NAV2            ICON    "scanner2.ico"
ID_ICON_NAV3            ICON    "scanner3.ico"
ID_ICON_NAV4            ICON    "scanner4.ico"
ID_ICON_NAV5            ICON    "scanner5.ico"
ID_ICON_NAV6            ICON    "scanner6.ico"
ID_ICON_NAV7            ICON    "scanner7.ico"
ID_ICON_NAV8            ICON    "scanner8.ico"

/////////////////////////////////////////////////////////////////////////////
