#include "resource.h"
/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE
BEGIN
    IDS_ERR_INVALIDFILE     "The .EXE file is invalid (non-Win32 .EXE or error in .EXE image)."
    IDS_ERR_FILENOTFOUND    "The specified file was not found."
    IDS_ERR_PATHNOTFOUND    "The specified path was not found."
    IDS_ERR_CANNOTSTART     "The NAV Auto-Protect system service has to be running or the system scheduler must be logged on as System Account."
    IDS_ERR_NAVRUNNING      "There is a scheduled virus check task which would not run if the Norton AntiVirus application is running.\nPlease activate the application and press the ""Scan Now"" button."
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_SCHEDULESERVICE     "Schedule"
    IDS_LOCALSYSTEM         "LocalSystem"
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_NAVW                "Norton AntiVirus"
END
