// Copyright 1997 Symantec, Peter Norton Product Group
//==========================================================================
//
// $Header:   N:/NAVSDK/VCS/symkvxd.rcv   1.1   02 Dec 1997 14:51:40   DALLEE  $
//
//  Symkvxd.RC:  Resource script file for Symkrnl VxD.
//
//==========================================================================
// $Log:   N:/NAVSDK/VCS/symkvxd.rcv  $
// 
//    Rev 1.1   02 Dec 1997 14:51:40   DALLEE
// Changed NAVOEM's to NAVSDK's for new naming conventions.
// 
//    Rev 1.0   02 Dec 1997 09:16:46   DALLEE
// Initial revision.
//==========================================================================
// From NEWVIR-NAVOEM symkvxd.rcv
//==========================================================================
#include "platform.h"

#include "quakever.h"
#define VR_FILEOS                   VOS_DOS_WINDOWS32
#define VR_FILETYPE                 VFT_VXD
#define VR_FILEDESCRIPTION          "Symantec NAVSDK Virtual Device Driver\0"
#define VR_INTERNALNAME             "NAVSDK\0"
#define VR_ORIGINALFILENAME         "NAVSDK.VXD\0"
#include "quake.ver"

