#include "pscan.rh"
#include "acta.h"
#define M_START
#define M_END
#include "acta.str"
#include "msgs.rc"

MMBox DIALOG 18, 18, 220, 134
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "MMBox"
FONT 8, "Helv"
{
 CONTROL "", MMB_OK, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 5, 5, 210, 105
 CONTROL "&Close", MMB_OK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 175, 116, 40, 14
 CONTROL "Text", MMB_TEXT, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 10, 14, 201, 92
 CONTROL "&Next ->", MMB_NEXT, "button", BS_DEFPUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 124, 116, 40, 14, 0
 CONTROL "<- &Prev", MMB_PREV, "button", BS_DEFPUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 83, 116, 40, 14, 0
 CONTROL "", MMB_POS, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 8, 116, 72, 12, 0
}


