* English version of NAVOS2.ICF

CATALOG
* Localize this string
  NAME         = 'Norton AntiVirus name in navos2.icf file.',
* Localize this string
  DESCRIPTION  = 'This is Norton AntiVirus for OS/2 version 5.0 from the icf file.'

* VRM is Version(xx), Release(yy), and modification(zz) in the form of xxyyzz
PACKAGE
  NAME            = 'Norton AntiVirus',
  NUMBER          = '0000-000',
  FEATURE         = '0000',
  VRM             = '050369',
  PACKAGEFILE     = 'DRIVE: NAVOS2.PKG',
  PKGDESCRFILE    = 'DRIVE: NAVOS2.DSC',
* This needs to be set by the build person prior to building the installer
* The following is the size as of 23 November 1998
  SIZE            = '9863168',
  UPDATECONFIGSYS = 'NO'
