body	
{
	margin=5px;
	margin-top=66px;
	margin-bottom=45px; 
	padding=0px;
	font-family:tahoma; 
	font-size=11px;
	background:url('symbg.gif') repeat-x;
	min-height: 446px;
	min-width:528px
}
table
{
	font-family:Tahoma, Arial;
	font-size:11px;
}
h1
{	
	position:absolute; 
	top=2px; 
	left=0px;
	height:30px; 
	width=100%; 
	font-size:18px;
	vertical-align:middle; 
	padding=2px;
	padding-left=6px;
	color:#333333;
}
h2		
{
	position:absolute; 
	top=40px; 
	left=0px;
	height:40px; 
	width:100%; 
	font-size:11px; 
	vertical-align:middle; 
	padding=10px;
}
h3
{	
	position:absolute; 
	top=70px; 
	left=0px;
	height:40px; 
	width=100%; 
	font-size=11px; 
	vertical-align:middle; 
	padding=10px;
}
hr
{
	background-color:#000000;
	height:3px;
}
.headerlink 	
{	
	font-size=11px;
	position:absolute;

	top=8px;
	vertical-align:middle;

	height=0px; 
	right=5px; 
	padding: 0px;
}
.tabArea	
{	
	height:0px;
	position:absolute; 
	top:44px; 
	left:8px;
}
.tabAreaHC
{	
	height:0px;
	position:absolute; 
	top:44px; 
	left:8px;
	border=1px solid black;
	z-index=8;
	background-color:white;
}
a:link 
{
	color: #0000FF;
}
a:visited 
{
	color: #0000FF;
}
a:hover 
{
	color: #0066FF;
}
a:active 
{
	color: #0066FF;
}
.ScanAnimation
{
	height:90;
	position:absolute; 
	top:45px; 
	right:2px 
}
.CurrentItemArea 
{	
	position:absolute; 
	top:98px; 
	left:5px;
	height:42px;
	width:75%;
	padding-left:6px;
	padding-right:6px;
}

.buttonArea
{
	height:33px;
	width:100%;
	position:absolute; 
	padding-left:6px;
	padding-right:6px;
	bottom:10px; 
	right:5px 

}
			
.StatsArea
{
	height:100px;
	width:77%;
	position:absolute; 
	padding-left:0px;
	padding-right:6px;
	top:145px; 
	left:5px 
}			

.StatsAreaResults
{
	height:100px;
	width:77%;
	position:absolute; 
	padding-left:6px;
	padding-right:6px;
	top:145px; 
	left:14px 
}			

.tab
{	
	z-index=2; 
	padding-top=0px;
	height=20; 
	margin-right:1px; 
	font-weight:bold;
	font-size=10px; 
	color:white; 
	vertical-align=middle; 
	cursor:hand;
	margin-left:0px;
	maring-right:0px;
	text-decoration:none;
}
.TabContent 
{	
	width:100%; 
	height=100%; 
	border=1px solid black;
	z-index=8;
	background-color:white;
}
.TabContentTop	
{	
	Position:absolute;
	width=100%;
	height=100%;
	Padding:0px;
	padding-top:50px;
	padding-bottom:52px;
}

.TabContentBottom
{	
	position:absolute; 
	padding=1px;
	bottom=0px;
	width=100%;
	height=40px;
}
.TabActiveXControl
{	
	width:100%; 
	height:100%; 
	border=1px dddddd solid; 
	margin=5px; 
	background-color:white
}
.TabUserAction 	
{	
	position=absolute;
	width:100%;
	height:100%;
	bottom=50px;
	border:1px solid dddddd
}
.TabUserActionContent 
{	
	z-index=9;
	position:absolute; 
	width=100%;
	height=33px;
	padding=1px;
	font-weight:bold;
	font-size=10px;
}
.TabUserActionBG
{	
	position=absolute;
	width:100%;
	height:100%;
	bottom=-1px;
	z-index=0; 
	background-color=FBF9E0;
}
.tab
{	
	z-index=4; 
	margin-top:4px;
	padding-bottom:1px;
	padding-left:7px;
	padding-right:7px;
	padding-top:2px;
	font-size=12px; 
	vertical-align=middle; 
	border:solid 1px #aaaaaa; 
	font-weight:normal;
	height:10px;
	background-image:url(background_tab.GIF);
	background-repeat:repeat-x;
}
.tabHC
{	
	z-index=4; 
	margin-top:0px;
	padding-bottom:1px;
	padding-left:7px;
	padding-right:7px;
	padding-top:2px;
	font-size=12px; 
	vertical-align=middle; 
	border:solid 1px black; 
	font-weight:normal;
	height:10px;
	background-color:white;
        text-decoration:none;
}

.tabSelected
{
	background-image:url(foreground_tab.GIF);	
	background-repeat:repeat-x;
	border-bottom:none;
	margin-top:0px;
	height:23px;
	margin:0px;	
}
.tabSelectedHC
{
	border-bottom:none;
	margin-top:0px;
	height:23px;
	margin:0px;	
}

.button		
{	
	width:100px; 
	height:27px;
	background-image:url("btn_silver.jpg");
	margin:5px;
	margin-right:0px;
	vertical-align:middle;
	text-align:center;
	font-weight:bold;
	border: 1px solid black;
	padding-top:3px
}
.footer
{	
	width:100%; 
	height:42;
	position:absolute; 
	bottom:0px
}
		
.tdDescription
{
	font-weight:bold;
}
.tdValue
{
	width:100%;
	text-align:right;
	padding-right:27px;
}
.tdRowSpacer
{
	background:url('dashline.gif') repeat-x;
}
.tdSolidRowSpacer
{
	background:url('solidline.gif') repeat-x;
}
button.symButton 
{ 
	font-size: 11px; 
	color: #000000; 
	border-width:0px; 
	background:no-repeat top left; 
	margin: 0; 
	cursor: default; 
	width: 100%; 
	height: 100% 
}

button.hiddenButton
{ 
	font-size: 11px; 
	color: #000000; 
	border-width:0px; 
	background:no-repeat top left; 
	margin: 0; 
	cursor: default; 
	width: 100%; 
	height: 100%;
	visibility:hidden;
}

span.hiddenButton
{
	border:0pz;
	margin-top:3px;
	margin: 0px;
}

td.SpywareDamageTitle
{
	font-weight:bold;
}
span.symButton 
{
	border:1px solid #000000;
	margin-top:3px;
	margin: 0px;
}
.tab1ContentBG	
{	
	background-color:white;
}
.tab2ContentBG	
{		
	background-color:white;
	color:#FFFFFF;	
}
#tab1 		
{	
	background-color:white;
	color:black;
}
#tab2 		
{	
	background-color:white;
	color:black;
}
#next
{	
	float:right;
}

#Cancel
{	
	float:right;
}

.hotkey
{
	text-decoration:none;
}


#ScanState
{
	position:absolute; 
	left:0px; 
	top:30px;
	
	width:237px;
	height:154px;
}

.GreenScanState
{
	background-image:url(green.gif);
	background-repeat:no-repeat;
}
.BlueScanState
{
    background-image:url(blue.gif);
	background-repeat:no-repeat;
}
.RedScanState
{
	background-image:url(red.gif);
	background-repeat:no-repeat;
}
#info
{
	width:32px;
	height:32px;
}
#email_tool_tip
{
	display:none;
	position:absolute; 
	top:20px; 
	left:20px; 

	background-color:#FFFFCC; 
	border:#888888 1px solid; 
	z-index:100; 
	padding:2px; 
	width:50px; 
	filter:progid:DXImageTransform.Microsoft.Shadow(color='#666666', Direction=135, Strength=3);
}
.span.email_tool_tip_title
{
	font-weight:bold; 
	text-align:right;
}
.span.email_tool_tip
{
	width:235px; 
	height:14px; 
	overflow:hidden; 
	text-overflow:ellipsis;
}
.ScanDescription
{
    padding-left:110px;
    top:55px;
    font-size:18px;
    color:#3366CC;
}
.ManualRemovalDescription
{
    padding-left:110px;
    top:35px;
    font-size:16px;
    color:#3366CC;
}
.QuickScanDescription
{
    padding-left:110px;
    top:35px;
    font-size:16px;
    color:#3366CC;
}
.DefsOldDescription
{
    padding-left:110px;
    top:55px;
    font-size:12px;
}
.ConditionalActionDescription
{
    margin-left:20px;
    margin-right:20px;
    font-size:11px;
}
.DoNotAlertAgain
{
    position:absolute;
    margin-left:20px;
    margin-right:20px;
    bottom:5px;
    font-size:11px;
}
