// Copyright 1995 Symantec Corporation                                  
//***************************************************************************
// 
// $Header:   N:/VIRSCAN/VCS/virscan.rcv   1.5   17 Jun 1997 14:59:06   MKEATIN  $ 
// 
// Description: 
//      VIRSCAN resource file.
// 
//***************************************************************************
// $Log:   N:/VIRSCAN/VCS/virscan.rcv  $ 
// 
//    Rev 1.5   17 Jun 1997 14:59:06   MKEATIN
// Remove the UI stuff which is now the ROSWELL/CALLBACKS.
// 
//    Rev 1.4   31 May 1997 15:51:36   MKEATIN
// Addded resources from DBUCHES NAVEX UI Callbacks.
// 
//    Rev 1.3   14 Jun 1995 13:57:02   MARKL
// Updated version information.
//***************************************************************************

#include <windows.h>

#ifndef MIRRORS
//***************************************************************************
// Version Information
//***************************************************************************
#define VR_FILEDESCRIPTION      "Norton AntiVirus Scanning APIs"
#define VR_INTERNALNAME         "V32SCAN"
#define VR_ORIGINALFILENAME     "V32SCAN.DLL"
#include "vlib.ver"
#endif


