// Copyright 1995 Symantec Corporation                                  
//***************************************************************************
// 
// $Header:   N:/SYMALOG/VCS/symalog.rcv   1.4   13 Jun 1996 14:27:40   PVENKAT  $ 
// 
// Description: 
//      Resource file for the SYMALOG.DLL
// 
//***************************************************************************
// $Log:   N:/SYMALOG/VCS/symalog.rcv  $ 
// 
//    Rev 1.4   13 Jun 1996 14:27:40   PVENKAT
// Added string for NTEventLog
// 
//    Rev 1.3   14 Jun 1995 11:54:08   MARKL
// Updated version records to new standard.
//***************************************************************************

#include "symarc.h"
#include "symalog.stb"
#include "symalog.dlg"


#ifndef MIRRORS
//***************************************************************************
// Version Information
//***************************************************************************
#define VR_FILEDESCRIPTION      "Norton AntiVirus Activity Log"
#define VR_INTERNALNAME         "S32ALOG"
#define VR_ORIGINALFILENAME     "S32ALOG.DLL"
#include "vlib.ver"
#endif

#include        "symalmsg.rc"
