// Copyright 1997 - 1998 Symantec, Peter Norton Product Group
//***************************************************************************
//
// $Header:   N:/APCOMM/VCS/NAVAP32.RCv   1.1   17 Feb 1998 14:30:46   RStanev  $
//
// Description:
//      Resource file for NAVAP32.DLL.
//
//***************************************************************************
// $Log:   N:/APCOMM/VCS/NAVAP32.RCv  $
// 
//    Rev 1.1   17 Feb 1998 14:30:46   RStanev
// Updated copyright.
//
//    Rev 1.0   16 Apr 1997 10:34:08   RStanev
// Initial revision.
//
//***************************************************************************

#ifndef WORKSHOP_INVOKED
    #include <windows.h>
#endif

//***************************************************************************
// Version Information
//***************************************************************************
#define VR_FILEDESCRIPTION      "Norton AntiVirus Helper DLL"
#define VR_INTERNALNAME         "NAVAP32"
#define VR_ORIGINALFILENAME     "NAVAP32.DLL"
#include "nav.ver"
