/////////////////////////////////////////////////////////////////////////////
//  Copyright (c)1998 - Symantec, Peter Norton Computing Group
/////////////////////////////////////////////////////////////////////////////
//
//  $Header:   N:/SCANDLVR/VCS/scandlvr.rcv   1.0   23 Jun 1998 15:33:52   mdunn  $
//
//  SCANDLVR.RC - Resources for Scan & Deliver
//
/////////////////////////////////////////////////////////////////////////////
//  $Log:   N:/SCANDLVR/VCS/scandlvr.rcv  $
// 
//    Rev 1.0   23 Jun 1998 15:33:52   mdunn
// Initial revision.
/////////////////////////////////////////////////////////////////////////////

/////////////////////////////////////////////////////////////////////////////
// Stuff needed to use the global version info block defined in nav.ver
// and navver.h

#define VR_FILEDESCRIPTION      "Norton AntiVirus Scan and Deliver\0"
#define VR_INTERNALNAME         "SCANDLVR\0"
#define VR_ORIGINALFILENAME     "SCANDLVR.DLL"

#include "vlib.ver"

