//Microsoft Developer Studio generated resource script.
//
#include "resource.h"
#include <windows.h>
#include "navver.h"
/////////////////////////////////////////////////////////////////////////////
// English (U.S.) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
#ifdef _WIN32
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)
#endif //_WIN32

#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE DISCARDABLE 
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE DISCARDABLE 
BEGIN
    "\0"
END

3 TEXTINCLUDE DISCARDABLE 
BEGIN
    "\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED

#ifndef _MAC

#ifdef ADMIN_ONLY

#define VR_FILEDESCRIPTION  "RoamAdmn\0"
#define VR_ORIGINALFILENAME "RoamAdmn.exe\0"
#define VR_PRODUCTNAME      "Symantec RoamAdmn\0"

#else

#define VR_FILEDESCRIPTION  "SAVRoam\0"
#define VR_ORIGINALFILENAME "SAVRoam.exe\0"
#define VR_PRODUCTNAME      "Symantec SAVRoam\0"

#endif

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION NAV_VERSION_MAJOR, NAV_VERSION_MINOR, NAV_VERSION_INLINE, NAV_BUILD_NUMBER
 PRODUCTVERSION NAV_VERSION_MAJOR, NAV_VERSION_MINOR, NAV_VERSION_INLINE, NAV_BUILD_NUMBER FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "Comments", "\0"
            VALUE "CompanyName", "symantec\0"
            VALUE "FileDescription", VR_FILEDESCRIPTION
            VALUE "FileVersion", NAV_PRODUCT_VERSION "\0"
            VALUE "InternalName", VR_FILEDESCRIPTION
            VALUE "LegalCopyright", "Copyright 2002 - 2006 Symantec Corporation. All rights reserved.\0"
            VALUE "LegalTrademarks", "\0"
            VALUE "OriginalFilename", VR_ORIGINALFILENAME
            VALUE "PrivateBuild", "\0"
            VALUE "ProductName", VR_PRODUCTNAME
            VALUE "ProductVersion", NAV_PRODUCT_VERSION "\0"
            VALUE "SpecialBuild", "\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END

#endif    // !_MAC


/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_NO_ERROR            "no error"
    IDS_ERROR               "Error"
    IDS_NO_ERROR_STRING     "no error string found for error %x"
    IDS_NO_ERROR2           "%s - no error (%d)\n"
    IDS_FOUND_VIRUS         "Found virus [%s]\n"
    IDS_MACHINE_ERROR       "%s for machine %s"
    IDS_LAST_CHECK_IN       "server %s client %s last check in %d/%02d/%02d %02d:%02d:%02d\n"
    IDS_SERVER_CLIENT_IPADDRESS "server %s client %s ip addr %d.%d.%d.%d\n"
    IDS_SERVER_CLIENT_IPXADDRESS 
                            "server %s client %s ipx addr %x.%02x%02x%02x%02x%02x%02x\n"
    IDS_SERVER_OFFLINE      "server %s is offline\n"
    IDS_REGKEY_CONFLICT     "reg key %s conflict old size %d new size %d old type %d new type %d values differ\n"
    IDS_CONJURE_WORKED      "conjure %s from server %s worked! - a0 %d a1 %d proto %d dom %d par %d\n"
    IDS_CONJURE_FAILED      "conjure %s from server %s failed reason %x! - a0 %d a1 %d proto %d dom %d par %d\n"
    IDS_UNABLE_TO_GET_SERVER_INFO 
                            "unable to get server %s information from down server %s\n"
    IDS_CHILDREN_CALLBACK   "children callback for server %s with key %s\n"
END

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_CHILDREN_VALUE_CALLBACK 
                            "children callback for server %s for key %s value %s size %d\n"
    IDS_ADDING_CHILD_SERVER "adding undiscovered child server %s to domain of server %s\n"
    IDS_ERROR_REASON        "%s - reason %s (%x)\n"
    IDS_ERROR_CORRECTION_PASS "\n\nError correction pass\n"
    IDS_DOMAIN              "domain %s\n"
    IDS_MASTER_SERVER       "    *** master server %s\n"
    IDS_SERVER_AND_PARENT   "    server %s parent %s\n"
    IDS_NUM_CLIENTS         "        %d client(s)\n\n"
    IDS_CLIENTS_0_DAYS      "        %d clients 0 days\n"
    IDS_CLIENTS_1_DAY       "        %d clients 1 day\n"
    IDS_CLIENTS_2_DAYS      "        %d clients 2 days\n"
    IDS_CLIENTS_3_DAYS      "        %d clients 3 days\n"
    IDS_CLIENTS_4_DAYS      "        %d clients 4 days\n"
    IDS_CLIENTS_5_TO_7_DAYS "        %d clients 5-7 days\n"
    IDS_CLIENTS_1_TO_2_WEEKS "        %d clients 1-2 weeks\n"
    IDS_OLD_CLIENTS         "        %d clients old\n"
END

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_CLIENTS_NO_ADDRESS  "        %d clients with no address\n"
    IDS_CLIENTS_WITH_IP     "        %d clients with IP\n"
    IDS_CLIENTS_WITH_IPX    "        %d clients with IPX\n"
    IDS_NO_MASTER_FOUND     "    NO MASTER SERVER FOUND IN DOMAIN!\n"
    IDS_NUM_CHILD_SERVERS   "    %d child server(s)\n"
    IDS_CLIENTS_IN_DOMAIN   "    %d client(s) in domain\n"
    IDS_SERVERS_WITH_IP     "    %d servers with IP address\n"
    IDS_SERVERS_WITH_IPX    "    %d servers with IPX address\n"
    IDS_DOMAINS_FOUND       "%d domain(s) found\n"
    IDS_LIVE_SERVERS_FOUND  "%d live server(s) found\n"
    IDS_OFFLINE_SERVERS_FOUND "%d offline servers found\n"
    IDS_DOMAINS_NO_MASTER   "%d domains with no master server\n"
    IDS_CLIENTS_FOUND       "%d client(s) found\n"
    IDS_CHILDREN_ADDED      "%d new children added to AddressCache\n"
    IDS_CONJURES_SUCCEEDED  "%d conjures succeeded\n"
    IDS_CONJURES_FAILED     "%d conjures failed\n"
END

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_TOTAL_CLIENTS_0_DAYS "        %d clients 0 days\n"
    IDS_TOTAL_CLIENTS_1_DAY "        %d clients 1 day\n"
    IDS_TOTAL_CLIENTS_2_DAYS "        %d clients 2 days\n"
    IDS_TOTAL_CLIENTS_3_DAYS "        %d clients 3 days\n"
    IDS_TOTAL_CLIENTS_4_DAYS "        %d clients 4 days\n"
    IDS_TOTAL_CLIENTS_5_TO_7_DAYS "        %d clients 5-7 days\n"
    IDS_TOTAL_CLIENTS_1_TO_2_WEEKS "        %d clients 1-2 weeks\n"
    IDS_TOTAL_OLD_CLIENTS   "        %d clients old\n\n"
    IDS_TOTAL_CLIENTS_NO_ADDRESS "        %d clients with no address\n"
    IDS_TOTAL_CLIENTS_WITH_IP "        %d clients with IP\n"
    IDS_TOTAL_CLIENTS_WITH_IPX "        %d clients with IPX\n\n"
    IDS_TOTAL_SERVERS_WITH_IP "        %d Servers with IP\n"
    IDS_TOTAL_SERVERS_WITH_IPX "        %d Servers with IPX\n\n"
    IDS_TOTAL_MANAGEABLE    "\n%d total manageable machines\n"
    IDS_ERROR_OPENING_KEY   "couldn't open %s key"
    IDS_SETTING_REGKEY      "Setting %s reg key"
END

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_SET_LOCAL_KEY_VALUE "Set <local> key %s with value ""%s""\n"
    IDS_DELETING_LOCAL_KEY  "Deleting local reg key"
    IDS_ERROR_SETTING_ROAMING_KEYS 
                            "Failed to set roaming keys on server %s, key %s, reason %x\n"
    IDS_SET_SERVER_KEY_VALUE "Set server %s, key %s with value ""%s""\n"
    IDS_DELETE_VALUE_OK     "Delete value ok (no value) on server %s, key %s\n"
    IDS_ERROR_DELETING_ROAMING_KEY 
                            "Failed to delete roaming key on server %s, key %s, reason %x\n"
    IDS_DELETE_VALUE_ON_SERVER_KEY "Delete value on server %s, key %s\n"
    IDS_ERROR_OPENING_IMPORT_FILE 
                            "Import server list - couldn't open import file"
    IDS_ERROR_OPENING_EXPORT_FILE "Unable to open file for export"
    IDS_FUNCTION_FAILED     "%s failed: %d\n"
    IDS_FUNCTION_FAILED_WITH_HRESULT "%s failed. ( %08X )\n"
    IDS_STARTDRIVER_ERROR   "Error in Start Driver %u\n"
    IDS_SAV_NOT_MANAGED     "SAV is not currently managed - stopping and starting SAV to become managed\n"
    IDS_ERROR_RETRIEVING_LU_FILE "Error retrieving LU hst file from parent"
    IDS_ERROR_CREATING_GRC  "Can't create grc file to set parent"
    IDS_ERROR_RETRIEVING_GRC "Error retrieving GRC hst file from parent"
END

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_ERROR_RETRIEVING_GRC_PATH "Error retrieving GRC hst file path"
    IDS_SAV_NOT_RUNNING     "SAV is not currently running - starting SAV to become managed\n"
    IDS_ERROR_CREATING_TO_SET_PARENT "Can't create to set parent"
    IDS_SAV_NOT_USING_AMS   "SAV is not set to use AMS - stopping and starting SAV to fix this\n"
    IDS_SAV_NOT_RUNNING_WITH_AMS 
                            "SAV is not currently running - starting SAV to use AMS\n"
    IDS_LOCAL_MACHINE_STARTS_WITH_SERVER "Local machine starts with %s\n"
    IDS_NO_REGIONAL_SERVERS_FOR_TYPE 
                            "This client has no regional servers set up for type %s\n"
    IDS_TIME_SERVER_LEVEL_DELAY 
                            "time %d server %s level %d delay %d ms result %x - list ""%s""\n\n"
    IDS_FAILED_TIME_SERVER_LEVEL_DELAY 
                            "FAILED time %d server %s level %d delay ms %d result %x\n"
    IDS_SERVER_AVG_TIME     "server %s average time %d ms trailing %c\n"
    IDS_SERVER_QUICKER_AVG_TIME "server quicker %s average time %d ms\n"
    IDS_RANDOM_RESULTS      "random results server %d rotation %d\n"
    IDS_DIDNT_FIND_PARENT   "Didn't find a %s parent, trying again in 30 seconds"
    IDS_SERVER_AVG_TIME_ALL "%d server %s average time %d ms trailing %c - %d %d %d %d %d %d %d\n"
    IDS_NEAREST_PARENT      "\n\nThe nearest %s parent is ""%s"" - the time to find it was %d ms\n"
END

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_PARENT_OWNS_CLIENT  "Parent ""%s"" owns this client now - the delay was %d ms\n"
    IDS_FORCING_NEW_PARENT  "Forcing new parent ""%s""\n"
    IDS_PARENT_HAS_NOT_TAKEN_OVER 
                            "Parent ""%s"" has not taken over this client after %d ms\n"
    IDS_PARENT_OWNS_QUARANTINE_CLIENT 
                            "Parent ""%s"" owns this machine for quarantine now - the delay was %d ms\n"
    IDS_PARENT_OWNS_GRC_CLIENT 
                            "Parent ""%s"" owns this machine for GRC now - the delay was %d ms\n"
    IDS_PARENT_HAS_NOT_TAKEN_OVER_GRC_CLIENT 
                            "Parent ""%s"" has not taken over this machine for GRC after %d ms\n"
    IDS_NEAREST_PRIMARY     "\n\nThe nearest primary is ""%s"" - the time to find it was %d ms\n"
    IDS_PRIMARY_OWNS_MACHINE 
                            "Primary ""%s"" owns this machine now - the delay was %d ms\n"
    IDS_PRIMARY_HAS_NOT_TAKEN_OVER 
                            "Primary ""%s"" has not taken over this machine after %d ms\n"
    IDS_PARENT_OWNS_ALERTS_CLIENT 
                            "Parent ""%s"" owns this machine for alerts now - the delay was %d ms\n"
    IDS_PARENT_HAS_NOT_TAKEN_OVER_ALERTS_CLIENT 
                            "Parent ""%s"" has not taken over this machine for alerts after %d ms\n"
    IDS_PARENT_IS_FINE      "Parent %s is fine, connected %d, parent virus pattern = %x\n"
    IDS_PROBLEM_WITH_PARENT "Machine has problem with parent %s, connected %d, virus pattern = %x\n"
    IDS_ERROR_INSTALLING    "Unable to install %s - %s\n"
    IDS_INSTALLED           "%s installed.\n"
    IDS_FUNCTION_FAILED_TEXT "%s failed - %s\n"
    IDS_STOPPING_SERVICE    "Stopping %s."
END

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_ERROR_STOPPING_SERVICE "\n%s failed to stop.\n"
    IDS_SERVICE_STOPPED     "\n%s stopped.\n"
    IDS_SERVICE_REMOVED     "%s removed.\n"
    IDS_DEBUGGING_SERVICE   "Debugging %s.\n"
    IDS_INSTALLING_TO_PATH  "Installing %s to path %s\n"
    IDS_INSTALLING_AS_SERVICE "Installing %s as a service named %s\n"
    IDS_INSTALLING_AS_EXE   "Installing %s as an executable named %s\n"
    IDS_REMOVING_AS_SERVICE "Removing %s as a service named %s\n"
    IDS_UNABLE_TO_START     "Unable to start %s as a service.\n"
    IDS_PARENT_OWNS_ITA_CLIENT 
                            "Parent ""%s"" owns this machine for ITA now - the delay was %d ms\n"
    IDS_PARENT_HAS_NOT_TAKEN_OVER_ITA_CLIENT 
                            "Parent ""%s"" has not taken over this machine for ITA after %d ms\n"
    IDS_PARENT_OWNS_ESM_CLIENT 
                            "Parent ""%s"" owns this machine for ESM now - the delay was %d ms\n"
    IDS_PARENT_HAS_NOT_TAKEN_OVER_ESM_CLIENT 
                            "Parent ""%s"" has not taken over this machine for ESM after %d ms\n"
    IDS_ERROR_RETRIEVING_ITA "Error retrieving ITA file.\n"
    IDS_ERROR_RETRIEVING_ITA_PATH "Error retrieving ITA path.\n"
    IDS_ERROR_STARTING_ITA  "Error starting ITA.\n"
    IDS_ERROR_STOPPING_ITA_ROAM  "Error deleting reg key to stop ITA roaming.\n"
END

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_ERROR_RETRIEVING_ESM_PROXY "Error fetching ESM Proxy file"
    IDS_ERROR_RETRIEVING_ESM_REG "Error fetching ESM Reg.exe file"
	IDS_SAVROAM_HELP "To run interactively use one of the following\n\nSAVRoam /%s ini-file - sets up client or server registry keys\nSAVRoam /%s <file> - reports client/server setup and writes to file\nSAVRoam /%s <<path> <new service name> <new exe name>> - creates and starts SAVRoam service\nSAVRoam /%s <new service name> - stops and removes SAVRoam service\nSAVRoam /%s - finds and sets appropriate parent\nSAVRoam /%s <<elapsed-time-in-seconds> <delta-time-in-milliseconds> <server-list>> - time and average servers in list\nSAVRoam /%s - verifies that the parent is ok\nSAVRoam /%s - clears parent as if shutting down\n"
    IDS_ERROR_WINDOWS_VERSION "Could not determinine windows version.\n"
    IDS_ERROR_LIBRARY_FUNCTIONS 
                            "Unable to locate needed functions in windows library: %s.\n"
    IDS_ERROR_LOADING_LIBRARY "Could not load library: %s."
    IDS_ERROR_RETRIEVING_ESM_PATH "Error getting reg key for ESM path"
    IDS_SERVICE_ALREADY_RUNNING "Service already running.\n"
    IDS_ERROR_STARTING_SERVICE "Error starting service"
    IDS_ERROR_LAUNCHING_ESM_REG "Error launching ESM Reg process"
    IDS_ERROR_STARTING_SAV  "Error starting SAV"
    IDS_ERROR_STARTING_SAV_FOR_GRC "Cannot not start SAV for GRC parent.\n"
    IDS_ROAMADMN_HELP       "To run interactively use one of the following\n\nRoamAdmn /%s ini-file - sets up client or server registry keys\nRoamAdmn /%s <file> - reports client/server setup and writes to file\nRoamAdmn /%s <<path> <new service name> <new exe name>> - creates and starts RoamAdmn service\nRoamAdmn /%s <new service name> - stops and removes RoamAdmn service\nRoamAdmn /%s - finds and sets appropriate parent\nRoamAdmn /%s <<elapsed-time-in-seconds> <delta-time-in-milliseconds> <server-list>> - time and average servers in list\nRoamAdmn /%s - verifies that the parent is ok\nRoamAdmn /%s - clears parent as if shutting down\n"
    IDS_SERVICE_STARTED     "%s started.\n"
    IDS_ERROR_STARTING      "IDS"
    IDS_ERROR_NO_SERVER_LIST "No server list provided.\n"
    IDS_ERROR_REQUIRED_NETWORK_NOT_PRESENT "A network connection is required for this request, but is not present.\n" 
END

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_ERROR_PARSING_LINE  "Error parsing line %d in import file; skipping line.\n"
    IDS_EXPORT_SERVERLIST   "Export server list"
    IDS_INVALID_EXTENSION   "Invalid extension, must be %s"
    IDS_ERROR_FIND_PARENT   "\n\nUnable to find a %s parent.\n"
    IDS_COMM_ERROR_SETTING_ROAMING_KEYS 
                            "Failed to set roaming keys on server %s, key %s. Reason - Communication Error: %x\n"
    IDS_DELAYTIMEONSUCESS   "delay %d ms result %x"
    IDS_DELAYTIMEONFAILURE  "delay %d ms, error %x"
    IDS_ERROR_RETRIEVING_ITA_TOKENTXT 
                            "Error retrieving ITA token generation text file from server."
    IDS_ERROR_RETRIEVING_ITA_TOKGENEXE 
                            "Error retrieving ITA Token Generation utility from server."
    IDS_ERROR_LAUNCHING_ITA_REG "Error launching ITA reg"
    IDS_ERROR_LAUNCHING_ITA_TOKGENEXE "Error launching ITA Token Generator."
    IDS_ERROR_LAUNCHING_ITA_AGTCFGEXE 
                            "Error launching ITA Agent Configuraton Tool."
    IDS_ERROR_RETRIEVING_ITA_AGTCFGEXE 
                            "Error retrieving ITA Agent Configuration utility from server."
    IDS_CREATE_PROCESS_RESULT 
                            "CreateProcess ""%s""\n   working directory ""%s""\n   command line ""%s""\n   exit code %d (0x%x)\n"
    IDS_REMOTE_COPY_FILE_RESULT 
                            "RemoteFileCopy from machine ""%s""\n   source file ""%s""\n   target file ""%s""\n   result code %d (0x%x)\n"
    IDS_SCM_DESCRIPTION     "Symantec AntiVirus Roaming Service"
END

#endif    // English (U.S.) resources
/////////////////////////////////////////////////////////////////////////////



#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// Generated from the TEXTINCLUDE 3 resource.
//

/////////////////////////////////////////////////////////////////////////////
//
// RT_MANIFEST
//

MANIFEST_RESOURCE_ID        RT_MANIFEST             "res\\SavRoam.exe.manifest"

/////////////////////////////////////////////////////////////////////////////
#endif    // not APSTUDIO_INVOKED

