/*//////////////////////
//
// PROPRIETARY / CONFIDENTIAL.
// Use of this product is subject to license terms.
// Copyright © 2006 Symantec Corporation.
// All rights reserved.
//
///////////////////////////////////////////////////////////////////////////////////////////////*/

BODY
{
    COLOR: #333333;
    FONT-FAMILY: arial, helvetica, 'Microsoft Sans Serif', sans-serif;
    layer-background-color: #ffffff
}
P
{
    COLOR: #333333;
    FONT-FAMILY: arial, helvetica, sans-serif;
    FONT-SIZE: 12px
}
TD
{
    COLOR: #333333;
    FONT-FAMILY: arial, helvetica, sans-serif;
    FONT-SIZE: 12px
}
.title
{
    FONT-SIZE: 20px;
    LETTER-SPACING: 0.03em
}
.larger
{
    FONT-SIZE: 15px
}
.large
{
    FONT-SIZE: 14px
}
.normal
{
    FONT-SIZE: 12px
}
.small
{
    FONT-SIZE: 11px
}
.tiny
{
    FONT-SIZE: 10px
}
.red
{
    COLOR: #ff0000
}
.green
{
    COLOR: #009933
}
.select55
{
    BORDER-BOTTOM: black 1px solid;
    BORDER-LEFT: black 1px solid;
    BORDER-RIGHT: black 1px solid;
    BORDER-TOP: black 1px solid;
    FONT-FAMILY: arial, helvetica, sans-serif;
    WIDTH: 55px
}
.silvernav1
{
    BACKGROUND-IMAGE: url(bttn_silver_97x24.gif);
    BACKGROUND-REPEAT: no-repeat;
    BORDER-BOTTOM-WIDTH: 0px;
    BORDER-LEFT-WIDTH: 0px;
    BORDER-RIGHT-WIDTH: 0px;
    BORDER-TOP-WIDTH: 0px;
    COLOR: #333333;
    CURSOR: hand;
    FONT-SIZE: 11px;
    FONT-FAMILY: arial, helvetica, sans-serif;
    HEIGHT: 24px;
    WIDTH: 97px
}
.silvernav1or
{
    BACKGROUND-IMAGE: url(bttn_silver_orbg_97x24.gif);
    BACKGROUND-REPEAT: no-repeat;
    BORDER-BOTTOM-WIDTH: 0px;
    BORDER-LEFT-WIDTH: 0px;
    BORDER-RIGHT-WIDTH: 0px;
    BORDER-TOP-WIDTH: 0px;
    COLOR: #333333;
    CURSOR: hand;
    FONT-SIZE: 11px;
    FONT-FAMILY: arial, helvetica, sans-serif;
    HEIGHT: 24px;
    PADDING-TOP: 4px;
    WIDTH: 97px
}
.goldnav1
{
    BACKGROUND-IMAGE: url(bttn_gold_97x24.gif);
    BACKGROUND-REPEAT: no-repeat;
    BORDER-BOTTOM-WIDTH: 0px;
    BORDER-LEFT-WIDTH: 0px;
    BORDER-RIGHT-WIDTH: 0px;
    BORDER-TOP-WIDTH: 0px;
    COLOR: #333333;
    CURSOR: hand;
    FONT-SIZE: 11px;
    FONT-FAMILY: arial, helvetica, sans-serif;
    HEIGHT: 24px;
    WIDTH: 97px
}
.goldnav1b
{
    BACKGROUND-IMAGE: url(bttn_gold_blubg_97x24.gif);
    BACKGROUND-REPEAT: no-repeat;
    BORDER-BOTTOM-WIDTH: 0px;
    BORDER-LEFT-WIDTH: 0px;
    BORDER-RIGHT-WIDTH: 0px;
    BORDER-TOP-WIDTH: 0px;
    COLOR: #333333;
    CURSOR: hand;
    FONT-SIZE: 11px;
    FONT-FAMILY: arial, helvetica, sans-serif;
    HEIGHT: 24px;
    PADDING-TOP: 4px;
    WIDTH: 97px
}
.goldnav2
{
    BACKGROUND-IMAGE: url(bttn_gold_127x24.gif);
    BACKGROUND-REPEAT: no-repeat;
    BORDER-BOTTOM-WIDTH: 0px;
    BORDER-LEFT-WIDTH: 0px;
    BORDER-RIGHT-WIDTH: 0px;
    BORDER-TOP-WIDTH: 0px;
    COLOR: #333333;
    CURSOR: hand;
    FONT-SIZE: 11px;
    FONT-FAMILY: arial, helvetica, sans-serif;
    HEIGHT: 24px;
    WIDTH: 127px
}
.goldnav3
{
    BACKGROUND-IMAGE: url(bttn_gold_135x24.gif);
    BACKGROUND-REPEAT: no-repeat;
    BORDER-BOTTOM-WIDTH: 0px;
    BORDER-LEFT-WIDTH: 0px;
    BORDER-RIGHT-WIDTH: 0px;
    BORDER-TOP-WIDTH: 0px;
    COLOR: #333333;
    CURSOR: hand;
    FONT-SIZE: 11px;
    FONT-FAMILY: arial, helvetica, sans-serif;
    HEIGHT: 24px;
    WIDTH: 135px
}
.goldnav4
{
    BACKGROUND-IMAGE: url(bttn_gold_185x24.gif);
    BACKGROUND-REPEAT: no-repeat;
    BORDER-BOTTOM-WIDTH: 0px;
    BORDER-LEFT-WIDTH: 0px;
    BORDER-RIGHT-WIDTH: 0px;
    BORDER-TOP-WIDTH: 0px;
    COLOR: #333333;
    CURSOR: hand;
    FONT-SIZE: 11px;
    FONT-FAMILY: arial, helvetica, sans-serif;
    HEIGHT: 24px;
    WIDTH: 185px
}

.goldnav5
{
    BACKGROUND-IMAGE: url(bttn_gold_165x24.gif);
    BACKGROUND-REPEAT: no-repeat;
    BORDER-BOTTOM-WIDTH: 0px;
    BORDER-LEFT-WIDTH: 0px;
    BORDER-RIGHT-WIDTH: 0px;
    BORDER-TOP-WIDTH: 0px;
    COLOR: #333333;
    CURSOR: hand;
    FONT-SIZE: 11px;
    FONT-FAMILY: arial, helvetica, sans-serif;
    HEIGHT: 24px;
    WIDTH: 165px
}

.btnOptionsOkCancelDefault
{
    BACKGROUND-COLOR: transparent;
    BACKGROUND-IMAGE: url(ok_cancel_default.gif);
    BACKGROUND-REPEAT: no-repeat;
    BORDER-BOTTOM-WIDTH: 0px;
    BORDER-LEFT-WIDTH: 0px;
    BORDER-RIGHT-WIDTH: 0px;
    BORDER-TOP-WIDTH: 0px;
    CURSOR: hand;
    FONT-SIZE: 12px;
    FONT-FAMILY: arial, helvetica, sans-serif;
    HEIGHT: 32px;
    PADDING-LEFT: 0px;
    PADDING-TOP: 0px;
    TEXT-ALIGN: center;
    WIDTH: 104px
}
.btnOptionsLevel1
{
    BACKGROUND-COLOR: transparent;
    BACKGROUND-IMAGE: url(yellow_btn.gif);
    BACKGROUND-REPEAT: no-repeat;
    BORDER-BOTTOM-WIDTH: 0px;
    BORDER-LEFT-WIDTH: 0px;
    BORDER-RIGHT-WIDTH: 0px;
    BORDER-TOP-WIDTH: 0px;
    COLOR: #333333;
    CURSOR: hand;
    FONT-SIZE: 11px;
    HEIGHT: 31px;
    PADDING-LEFT: 10px;
    PADDING-TOP: 7px;
    TEXT-ALIGN: left;
    WIDTH: 144px
}
.btnOptionsLevel1Selected
{
    BACKGROUND-COLOR: transparent;
    BACKGROUND-IMAGE: url(white_btn.gif);
    BACKGROUND-REPEAT: no-repeat;
    BORDER-BOTTOM-WIDTH: 0px;
    BORDER-LEFT-WIDTH: 0px;
    BORDER-RIGHT-WIDTH: 0px;
    BORDER-TOP-WIDTH: 0px;
    COLOR: #333333;
    CURSOR: hand;
    FONT-SIZE: 11px;
    HEIGHT: 31px;
    PADDING-LEFT: 10px;
    PADDING-TOP: 7px;
    TEXT-ALIGN: left;
    WIDTH: 144px
}
.btnOptionsLevel2
{
    BACKGROUND-COLOR: transparent;
    BACKGROUND-IMAGE: url(yellow_btn.gif);
    BACKGROUND-REPEAT: no-repeat;
    BORDER-BOTTOM-WIDTH: 0px;
    BORDER-LEFT-WIDTH: 0px;
    BORDER-RIGHT-WIDTH: 0px;
    BORDER-TOP-WIDTH: 0px;
    COLOR: #333333;
    CURSOR: hand;
    FONT-SIZE: 11px;
    HEIGHT: 31px;
    PADDING-LEFT: 10px;
    PADDING-TOP: 7px;
    TEXT-ALIGN: left;
    WIDTH: 144px
}
.btnOptionsLevel2Selected
{
    BACKGROUND-COLOR: transparent;
    BACKGROUND-IMAGE: url(white_btn.gif);
    BACKGROUND-REPEAT: no-repeat;
    BORDER-BOTTOM-WIDTH: 0px;
    BORDER-LEFT-WIDTH: 0px;
    BORDER-RIGHT-WIDTH: 0px;
    BORDER-TOP-WIDTH: 0px;
    COLOR: #333333;
    CURSOR: hand;
    FONT-SIZE: 11px;
    HEIGHT: 31px;
    PADDING-LEFT: 10px;
    PADDING-TOP: 7px;
    TEXT-ALIGN: left;
    WIDTH: 144px
}
.btnOptionsLevel3
{
    BACKGROUND-COLOR: transparent;
    BACKGROUND-IMAGE: url(yellow_btn.gif);
    BACKGROUND-REPEAT: no-repeat;
    BORDER-BOTTOM-WIDTH: 0px;
    BORDER-LEFT-WIDTH: 0px;
    BORDER-RIGHT-WIDTH: 0px;
    BORDER-TOP-WIDTH: 0px;
    COLOR: #333333;
    CURSOR: hand;
    FONT-SIZE: 11px;
    HEIGHT: 31px;
    PADDING-LEFT: 25px;
    PADDING-TOP: 7px;
    TEXT-ALIGN: left;
    WIDTH: 144px
}
.btnOptionsLevel3Selected
{
    BACKGROUND-COLOR: transparent;
    BACKGROUND-IMAGE: url(white_btn.gif);
    BACKGROUND-REPEAT: no-repeat;
    BORDER-BOTTOM-WIDTH: 0px;
    BORDER-LEFT-WIDTH: 0px;
    BORDER-RIGHT-WIDTH: 0px;
    BORDER-TOP-WIDTH: 0px;
    COLOR: #333333;
    CURSOR: hand;
    FONT-SIZE: 11px;
    HEIGHT: 31px;
    PADDING-LEFT: 25px;
    PADDING-TOP: 7px;
    TEXT-ALIGN: left;
    WIDTH: 144px
}
.graybox
{
    BORDER-BOTTOM: #999999 1px solid;
    BORDER-LEFT: #999999 1px solid;
    BORDER-RIGHT: #999999 1px solid;
    BORDER-TOP: #999999 1px solid
}
TD.indent10
{
    PADDING-LEFT: 10px
}

.smallcheck
{
   MARGIN-BOTTOM: -1px;
   MARGIN-TOP: -1px;
   MARGIN-LEFT: 4px;
   PADDING-BOTTOM: 0px;
   PADDING-TOP: 0px;
}

.dashline
{
    BACKGROUND-IMAGE: url(dashlinedark.gif);
    BACKGROUND-REPEAT: repeat;
    BORDER-BOTTOM-WIDTH: 0px;
    BORDER-LEFT-WIDTH: 0px;
    BORDER-RIGHT-WIDTH: 0px;
    BORDER-TOP-WIDTH: 0px;
    HEIGHT: 1px
}
.dashlinedim
{
    BACKGROUND-IMAGE: url(dashline.gif);
    BACKGROUND-REPEAT: repeat;
    BORDER-BOTTOM-WIDTH: 0px;
    BORDER-LEFT-WIDTH: 0px;
    BORDER-RIGHT-WIDTH: 0px;
    BORDER-TOP-WIDTH: 0px;
    HEIGHT: 1px
}
.dashlinev
{
    BACKGROUND-IMAGE: url(dashlinev.gif);
    BACKGROUND-REPEAT: repeat;
    BORDER-BOTTOM-WIDTH: 0px;
    BORDER-LEFT-WIDTH: 0px;
    BORDER-RIGHT-WIDTH: 0px;
    BORDER-TOP-WIDTH: 0px;
    WIDTH: 1px
}
.atitle
{
    FONT-SIZE: 20px;
    LETTER-SPACING: 0.03em;
    TEXT-INDENT: 9px
}
.aheadline
{
    FONT-SIZE: 14px
}
.grayb
{
    BACKGROUND-COLOR: #999999
}
.mutheadbg
{
    BACKGROUND-IMAGE: url(tableheadbg_288x29.gif);
    BACKGROUND-REPEAT: no-repeat;
    PADDING-LEFT: 9px
}
TR.mulitrow
{
    BACKGROUND-COLOR: #cee3ff
}
.mulitrow
{
    BACKGROUND-COLOR: #cee3ff
}
.mutitleb
{
    COLOR: #4a4a4a;
    FONT-SIZE: 18px;
    FONT-WEIGHT: bold
}
.mutitler
{
    COLOR: #ff0000;
    FONT-SIZE: 18px
}
.mutitle
{
    FONT-SIZE: 20px
}
.muheader
{
    FONT-WEIGHT: bold
}
.muinfoh
{
    FONT-SIZE: 12px;
    FONT-WEIGHT: bold;
    MARGIN-BOTTOM: 5px;
    MARGIN-TOP: 6px
}
.muinfobg1
{
    BACKGROUND-COLOR: #cee3ff;
    BACKGROUND-IMAGE: url(infobox_vdef_121x276.gif);
    BACKGROUND-REPEAT: no-repeat;
    PADDING-BOTTOM: 9px;
    PADDING-LEFT: 9px;
    PADDING-RIGHT: 9px
}
.muinfotxt
{
    FONT-SIZE: 11px;
    LINE-HEIGHT: 1.5em
}
P.muinfotxt
{
    MARGIN-BOTTOM: 4px;
    MARGIN-TOP: 5px
}
.mulink
{
    FONT-SIZE: 14px
}
A
{
    TEXT-DECORATION: underline
}
A.mulink:link
{
    COLOR: #333333
}
A.mulink:active
{
    COLOR: #333333
}
A.mulink:hover
{
    COLOR: #333333
}
A.mulink:visited
{
    COLOR: #333333
}
A.mulinkr
{
    COLOR: #ff0000;
    FONT-SIZE: 14px
}
.mulinkr
{
    COLOR: #ff0000;
    FONT-SIZE: 14px
}
A.mulinksm:link
{
    COLOR: #333333;
    FONT-SIZE: 12px
}
A.mulinksm:visited
{
    COLOR: #333333;
    FONT-SIZE: 12px
}
A.mulinksm:active
{
    COLOR: #333333;
    FONT-SIZE: 12px
}
A.mulinksm:hover
{
    COLOR: #333333;
    FONT-SIZE: 12px
}
.mulinksm
{
    COLOR: #333333;
    FONT-SIZE: 12px
}
A.mulinksmr:link
{
    COLOR: #ff0000;
    FONT-SIZE: 12px
}
A.mulinksmr:visited
{
    COLOR: #ff0000;
    FONT-SIZE: 12px
}
A.mulinksmr:active
{
    COLOR: #ff0000;
    FONT-SIZE: 12px
}
A.mulinksmr:hover
{
    COLOR: #ff0000;
    FONT-SIZE: 12px
}
.mulinksmr
{
    COLOR: #ff0000;
    FONT-SIZE: 12px
}
A.mulinkmore:link
{
    COLOR: #333333;
    FONT-SIZE: 11px
}
A.mulinkmore:visited
{
    COLOR: #333333;
    FONT-SIZE: 11px
}
A.mulinkmore:active
{
    COLOR: #333333;
    FONT-SIZE: 11px
}
A.mulinkmore:hover
{
    COLOR: #333333;
    FONT-SIZE: 11px
}
.mulinkmore
{
    COLOR: #333333;
    FONT-SIZE: 11px
}
.cutline
{
    BACKGROUND-COLOR: #4a4a4a
}
.cucontent
{
    PADDING-BOTTOM: 13px;
    PADDING-LEFT: 13px;
    PADDING-RIGHT: 13px;
    PADDING-TOP: 13px
}
.cumenunum
{
    COLOR: #355690;
    FONT-SIZE: 23px;
    FONT-WEIGHT: bold
}
.cumenutxt
{
    COLOR: #355690;
    FONT-SIZE: 13px;
    FONT-WEIGHT: bold
}
.cutitle
{
    COLOR: #4a4a4a;
    FONT-SIZE: 18px
}
.cutitleb
{
    COLOR: #4a4a4a;
    FONT-SIZE: 18px;
    FONT-WEIGHT: bold
}
.cutitle2
{
    COLOR: #4a4a4a;
    FONT-SIZE: 16px
}
.cutitleb2
{
    COLOR: #4a4a4a;
    FONT-SIZE: 16px;
    FONT-WEIGHT: bold
}
.cuheader
{
    FONT-WEIGHT: bold
}
.cutextarea
{
    BORDER-BOTTOM: 0px;
    BORDER-LEFT: 0px;
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    COLOR: #333333;
    FONT-FAMILY: Arial, helvetica, sans-serif;
    FONT-SIZE: 12px;
    OVERFLOW: hidden
}
.cutooltip
{
    BORDER-BOTTOM: 0px;
    BORDER-LEFT: 0px;
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    COLOR: #355690;
    FONT-FAMILY: Arial, helvetica, sans-serif;
    OVERFLOW-X: hidden;
    OVERFLOW-Y: auto
}
.cuhelp
{
    COLOR: blue;
    CURSOR: hand;
    FONT-SIZE: 8pt;
    TEXT-DECORATION: underline
}
.cusilvernav1
{
    BACKGROUND-IMAGE: url(bttn_silver_97x24.gif);
    BACKGROUND-REPEAT: no-repeat;
    BORDER-BOTTOM-WIDTH: 0px;
    BORDER-LEFT-WIDTH: 0px;
    BORDER-RIGHT-WIDTH: 0px;
    BORDER-TOP-WIDTH: 0px;
    COLOR: #333333;
    CURSOR: hand;
    FONT-SIZE: 11px;
    HEIGHT: 24px;
    WIDTH: 97px
}
A.culink:link
{
    COLOR: #0000ee;
    FONT-SIZE: 11px
}
A.culink:visited
{
    COLOR: #0000ee;
    FONT-SIZE: 11px
}
A.culink:active
{
    COLOR: #0000ee;
    FONT-SIZE: 11px
}
A.culink:hover
{
    COLOR: #0000ee;
    FONT-SIZE: 11px
}
.culink
{
    COLOR: #0000ee;
    FONT-SIZE: 11px
}
A.culinkhead:link
{
    COLOR: #4a4a4a;
    FONT-SIZE: 12px;
    TEXT-DECORATION: none
}
A.culinkhead:visited
{
    COLOR: #4a4a4a;
    FONT-SIZE: 12px;
    TEXT-DECORATION: none
}
A.culinkhead:active
{
    COLOR: #4a4a4a;
    FONT-SIZE: 12px;
    TEXT-DECORATION: none
}
A.culinkhead:hover
{
    COLOR: #4a4a4a;
    FONT-SIZE: 12px;
    TEXT-DECORATION: none
}
.culinkhead
{
    COLOR: #000000;
    FONT-SIZE: 12px;
    TEXT-DECORATION: none
}
.cwcontent
{
    PADDING-BOTTOM: 13px;
    PADDING-LEFT: 13px;
    PADDING-RIGHT: 13px;
    PADDING-TOP: 13px
}
.cwmenunum
{
    COLOR: #355690;
    FONT-SIZE: 13px;
    FONT-WEIGHT: bold;
    TEXT-INDENT: 12px
}
.cwmenutxt
{
    COLOR: #355690;
    FONT-SIZE: 13px;
    FONT-WEIGHT: bold;
    TEXT-INDENT: 6px
}
.cwbigtitle
{
    COLOR: #4a4a4a;
    FONT-SIZE: 22px;
    FONT-WEIGHT: bold
}
.cwtitle
{
    COLOR: #4a4a4a;
    FONT-SIZE: 18px;
    FONT-WEIGHT: normal
}
.cwtitleb
{
    COLOR: #4a4a4a;
    FONT-SIZE: 18px;
    FONT-WEIGHT: bold
}
.cwheader
{
    FONT-WEIGHT: bold
}
.cwdate
{
    FONT-SIZE: 14px;
    FONT-WEIGHT: bold
}
.cwdater
{
    COLOR: #ff0000;
    FONT-SIZE: 14px;
    FONT-WEIGHT: bold
}
.cwgoldnav0
{ 
background-image: url(btn_gold.jpg); 
background-repeat: repeat-x; 
font-size: 12px; 
font-family:Verdana, Arial, Helvetica, Sans-Serif; 
height: 23px; 
color: #333333; 
padding-left:6px; 
padding-right:6px; 
border:1px solid #6C6C6C; 
cursor: hand 
}
.cwgoldnav1
{
    BACKGROUND-IMAGE: url(bttn_gold_97x24.gif);
    BACKGROUND-REPEAT: no-repeat;
    BORDER-BOTTOM-WIDTH: 0px;
    BORDER-LEFT-WIDTH: 0px;
    BORDER-RIGHT-WIDTH: 0px;
    BORDER-TOP-WIDTH: 0px;
    COLOR: #333333;
    CURSOR: hand;
    FONT-SIZE: 11px;
    HEIGHT: 24px;
    WIDTH: 97px
}
.cwsilvernav1
{
    BACKGROUND-IMAGE: url(bttn_silver_97x24.gif);
    BACKGROUND-REPEAT: no-repeat;
    BORDER-BOTTOM-WIDTH: 0px;
    BORDER-LEFT-WIDTH: 0px;
    BORDER-RIGHT-WIDTH: 0px;
    BORDER-TOP-WIDTH: 0px;
    COLOR: #333333;
    CURSOR: hand;
    FONT-SIZE: 11px;
    HEIGHT: 24px;
    WIDTH: 97px
}
A.cwlink:link
{
    COLOR: #0000ee;
    FONT-SIZE: 11px
}
A.cwlink:visited
{
    COLOR: #0000ee;
    FONT-SIZE: 11px
}
A.cwlink:active
{
    COLOR: #0000ee;
    FONT-SIZE: 11px
}
A.cwlink:hover
{
    COLOR: #0000ee;
    FONT-SIZE: 11px
}
.culink
{
    COLOR: #0000ee;
    FONT-SIZE: 11px
}
A.cwlinkhead:link
{
    COLOR: #4a4a4a;
    FONT-SIZE: 12px;
    TEXT-DECORATION: none
}
A.cwlinkhead:visited
{
    COLOR: #4a4a4a;
    FONT-SIZE: 12px;
    TEXT-DECORATION: none
}
A.cwlinkhead:active
{
    COLOR: #4a4a4a;
    FONT-SIZE: 12px;
    TEXT-DECORATION: none
}
A.cwlinkhead:hover
{
    COLOR: #4a4a4a;
    FONT-SIZE: 12px;
    TEXT-DECORATION: none
}
P.nomargin
{
    FONT-SIZE: 13px;
    MARGIN-BOTTOM: 0px;
    MARGIN-TOP: 0px
}
.WhiteToPurpleGradButton
{
    BACKGROUND-IMAGE: url(WhiteToPurpleGradBtnBkgnd120x30.jpg);
    BACKGROUND-REPEAT: no-repeat;
    BORDER-BOTTOM: 1px solid;
    BORDER-LEFT: 1px solid;
    BORDER-RIGHT: 1px solid;
    BORDER-TOP: 1px solid;
    COLOR: #000000;
    CURSOR: hand;
    FONT-SIZE: 12px;
    HEIGHT: 24px;
    PADDING-TOP: 4px;
    WIDTH: 120px
}
.Category
{
    COLOR: #000000;
    FONT-SIZE: 12px;
    FONT-WEIGHT: bold
}
.SelectedCategory
{
    COLOR: #ffff00;
    FONT-SIZE: 12px;
    FONT-WEIGHT: bold
}
.NAVArrow
{
    COLOR: yellow;
    FONT-SIZE: 14px;
    FONT-WEIGHT: normal
}
.NavTitle
{
    FONT-SIZE: 20px;
    FONT-WEIGHT: bold;
    MARGIN-BOTTOM: -5px;
    TEXT-ALIGN: left
}
.NavSubTitle
{
    FONT-SIZE: 20px;
    FONT-WEIGHT: normal;
    MARGIN-BOTTOM: -5px;
    TEXT-ALIGN: left
}
.NavSmallText
{
    FONT-SIZE: 10px
}
.NavNormalText
{
    FONT-SIZE: 15px
}
.WizardPanel
{
    BACKGROUND-IMAGE: url(PanelBackground.gif);
    BACKGROUND-REPEAT: no-repeat;
    FONT-FAMILY: Arial, Verdana, Tahoma, Helvetica, Helv, "MS Sans Serif", sans-serif;
    FONT-SIZE: 12px;
    FONT-STYLE: normal;
    FONT-VARIANT: normal;
    FONT-WEIGHT: 300;
    TEXT-DECORATION: none;
    TEXT-TRANSFORM: none
}
.CfgWizTitle
{
    FONT-SIZE: 18px;
    FONT-WEIGHT: normal;
    MARGIN-BOTTOM: -5px;
    TEXT-ALIGN: left
}
.optstxtcolor
{
    COLOR: #355690
}

.MiniButton
{
    FONT-SIZE: 12px;
    COLOR: #0000FF;
	FONT-STYLE: normal;
    FONT-VARIANT: normal;
	TEXT-DECORATION: none;
    TEXT-TRANSFORM: none
}
.MiniButtonDisabled
{
	COLOR: #C0C0C0;
}
