/*//////////////////////
//
// PROPRIETARY / CONFIDENTIAL.
// Use of this product is subject to license terms.
// Copyright © 2006 Symantec Corporation.
// All rights reserved.
//
///////////////////////////////////////////////////////////////////////////////////////////////*/

.Class
{	
	height:20px;
	width:100%%;
	margin-left:4%%;
	font-size:14px;
	letter-spacing:normal;
	font-family: Franklin Gothic Medium, Arial;
}

#YahooOverallRegion
{
	flow:horizontal;
}

#YahooLeftRegion
{
	width:100%%;
}

#YahooRightRegion
{	
	width:100%%;
}

#YahooTitle
{
	margin-top:7px;
	margin-left:10px;
	font-size:17px;
	letter-spacing:normal;
	font-family: Franklin Gothic Medium, Arial;
	font-weight:bold;
}

#YahooIcon
{
	margin-right:30px;
	margin-top:5px;
	margin-left:100%%;
	width:120px;
	height:40px;
	vertical-align:middle;
	background-repeat:no-repeat;
}

#YahooText:hover 
{
	color:blue;
}

#YahooText:active 
{
	color: black;
}

#YahooLinkLocation
{
	margin-top:7px;
	margin-bottom:0px;
	width:100%%;
	height: 15px;
}

#YahooLink 
{
	margin-right: 6px;
	margin-left: 100%%;
	border:1px solid transparent;
	font-size:11px;
	font-family: MS Sans Serif;
	display:block;
	width: 105px;
}

#YahooLink:focus 
{
	border:1px dotted black; 
}

widget 
{
	display:block;
	margin-left:35px;
	margin-top:10px;
}

widget[type="checkbox"]
	{ 
		padding:0px; 
		behavior:check; 
		background-repeat:no-repeat; 
		background-position:5px 8px; 
		background-image:url(theme:check-normal);  
		font-size:14px;
		font-family: Franklin Gothic Medium, Arial;
		padding-left:25px;
		border: 1px solid transparent;
	}

widget[type="checkbox"]:hover
	{ 
		background-image:url(theme:check-hover);  
		color:blue;
	}

widget[type="checkbox"]:hover:active
	{ 
		background-image:url(theme:check-pressed);  
	}

widget[type="checkbox"]:disabled
	{ 
		background-image:url(theme:check-disabled);  
	}

widget[type="checkbox"]:checked
	{ 
		background-image:url(theme:check-checked-normal);  
	}

widget[type="checkbox"]:checked:hover
	{ 
		background-image:url(theme:check-checked-hover);  
	}

widget[type="checkbox"]:checked:hover:active
	{ 
		background-image:url(theme:check-checked-pressed);  
	}

widget[type="checkbox"]:checked:disabled
	{ 
		background-image:url(theme:check-checked-disabled);  
	}
	
widget[type="checkbox"]:focus
{
	border: 1px dotted black;
}

widget[type="checkbox"] * {margin:0px;padding:0px}
widget[type="checkbox"] {padding-bottom:5px;padding-top:5px}






