T|SaveAs|另存新檔
T|Open|開啟舊檔
T|New|開新檔案
S|UpconvertReply|O
S|VBErrorReply|E
S|Save|[CTRL]s
S|Open|[CTRL]o
S|SaveAs|[ALT]fa
#S|New|[CTRL]n
S|New|[ALT]fn
S|Exit|[ALT]fx
S|Close|[ALT]fc
#S|Close|[CTRL][F4]
C|FileOpen|FileOpen
C|FileSave|FileSave
C|FileSaveAs|FileSaveAs
C|FileClose|FileClose
C|FileNewDefault|FileNewDefault
C|FileExit|FileExit
C|StartOfDocument|StartofDocument
C|EndOfDocument|EndofDocument
C|ToolsOptionsSave|ToolsOptionsSave
C|DocMaximize|DocMaximize
L|document|文��E 
L|doc|doc
L|template|範本
L|GlobalTemplateName|{GLOBALNAME}
E|NewMoving|[HOME]
