// Copyright 1995 Symantec Corporation                                  
//***************************************************************************
// 
// $Header:   N:/navexclu/VCS/navexclu.rcv   1.0   06 Feb 1997 20:58:02   RFULLER  $ 
// 
// Description: 
//      Resource file for NAVEXCLU Dynamic Link Library as used by NAV to
//      help process exclusions.
// 
//***************************************************************************
// $Log:   N:/navexclu/VCS/navexclu.rcv  $ 
// 
//    Rev 1.0   06 Feb 1997 20:58:02   RFULLER
// Initial revision
// 
//    Rev 1.0   30 Jan 1996 16:03:14   BARRY
// Initial revision.
// 
//    Rev 1.0   30 Jan 1996 14:56:44   BARRY
// Initial revision.
// 
//    Rev 1.1   13 Jun 1995 14:15:42   MARKL
// Now includes version information.
//***************************************************************************



//************************************************************************
// Version info
//************************************************************************
#define VR_FILEDESCRIPTION      "Norton AntiVirus Exclusions"
#define VR_INTERNALNAME         "N32EXCLU"
#define VR_ORIGINALFILENAME     "N32EXCLU.DLL"
#include <ver.h>
#include "nav.ver"



