// Copyright 1995 Symantec Corporation
//***************************************************************************
//
// $Header:   N:/NAVAPI/VCS/navapi.rcv   1.4   05 Aug 1998 15:27:58   MKEATIN  $
//
// Description:
//      Resource file for NAVAPI library.
//
//***************************************************************************
// $Log:   N:/NAVAPI/VCS/navapi.rcv  $
// 
//    Rev 1.4   05 Aug 1998 15:27:58   MKEATIN
// Include ver.h on Win16
// 
//    Rev 1.3   22 Jul 1998 18:07:50   MKEATIN
// Changed ver.h to napiver.h to avoid conflicts with the global ver.h
// 
//    Rev 1.2   15 Jul 1998 15:58:42   MKEATIN
// Move version info into ver.h
// 
//    Rev 1.1   22 Jun 1998 18:01:46   ksackin
// Added DLL OSType define for Win16/Win32.
//
//    Rev 1.0   22 Jun 1998 17:50:18   ksackin
// Initial revision.
//
//***************************************************************************
#include <windows.h>
#include "napiver.h"

#if defined (SYM_WIN32)
        #define NAVAPI_ORIGINALFILENAME     "NAVAPI32.DLL"
        #define NAVAPI_FILEOS               VOS_DOS_WINDOWS32
#elif defined(SYM_WIN)
        #include <ver.h>
        #define NAVAPI_ORIGINALFILENAME     "NAVAPI16.DLL"
        #define NAVAPI_FILEOS               VOS_DOS_WINDOWS16
#endif //SYM_WIN32


VS_VERSION_INFO		VERSIONINFO
  FILEVERSION           NAVAPI_FILEVERSION
  PRODUCTVERSION        NAVAPI_PRODVERSION
  FILEFLAGSMASK         0
  FILEFLAGS             0
  FILEOS                NAVAPI_FILEOS
  FILETYPE              VFT_DLL
  FILESUBTYPE           VFT2_UNKNOWN

BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"                    // U.S. English, Multilingual Windows
    BEGIN
      VALUE "CompanyName",      "Symantec Corp." "\0"
      VALUE "FileDescription",  NAVAPI_FILEDESCRIPTION "\0"
      VALUE "FileVersion",      NAVAPI_FILEVERSION_STRING "\0"
      VALUE "InternalName",     NAVAPI_INTERNALNAME "\0"
      VALUE "LegalCopyright",   NAVAPI_LEGAL_COPYRIGHT "\0"
      VALUE "OriginalFilename", NAVAPI_ORIGINALFILENAME "\0"
      VALUE "ProductName",      NAVAPI_PRODUCTNAME_STRING "\0"
      VALUE "ProductVersion",   NAVAPI_PRODVERSION_STRING "\0"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252    // U.S. English, Multilingual Windows
  END
END

