#include "quakever.h"

#define VR_FILEDESCRIPTION      "Symantec Kernel Thunk Library\0"
#define VR_INTERNALNAME         "TKKE\0"
#define VR_ORIGINALFILENAME     "TKKE.DLL\0"

#include "quake.ver"

