//==========================================================================
//==                                                                      ==
//==  Symkvxd.RC:  Resource script file for Symkrnl VxD.                    ==
//==                                                                      ==
//==========================================================================
#include "platform.h"

#include "quakever.h"
#define VR_FILEOS                   VOS_DOS_WINDOWS32
#define VR_FILETYPE                 VFT_VXD
#define VR_FILEDESCRIPTION          "Symantec Kernel Virtual Device Driver\0"
#define VR_INTERNALNAME             "SYMKRNL\0"
#define VR_ORIGINALFILENAME         "SYMKRNL.VXD\0"
#include "quake.ver"

