/*//////////////////////
//
// PROPRIETARY / CONFIDENTIAL.
// Use of this product is subject to license terms.
// Copyright © 2006 Symantec Corporation.
// All rights reserved.
//
///////////////////////////////////////////////////////////////////////////////////////////////*/

BODY
{
    FONT-FAMILY: arial, helvetica, 'Microsoft Sans Serif', sans-serif;
    layer-background-color: #ffffff
    FONT-SIZE: 10px
}
.normal
{
    FONT-SIZE: 10px;
}
.large
{
    FONT-SIZE: 12px;
}
.small
{
    FONT-SIZE: 8px;
}

A
{
    TEXT-DECORATION: underline
    FONT-SIZE: 12px
}
A:link
{
    COLOR: #0000FF
    FONT-SIZE: 8px
}
A:active
{
    COLOR: #0000FF
}
A:hover
{
    COLOR: #0000FF
}
A:visited
{
    COLOR: #FF0000
} 

TD
{
    FONT-FAMILY: arial, helvetica, sans-serif;
    FONT-SIZE: 12px
}
