// Copyright 1993 Symantec Corporation                                  *
//***********************************************************************
//                                                                      *
// $Header:   S:/NPSCHECK/VCS/npscheck.rcv   1.0   19 May 1998 10:11:02   mdunn  $
//                                                                      *
// Description:                                                         *
//    This is the NPSCheck resource file that has the file's version
//    info.
//                                                                      *
//***********************************************************************
// $Log:   S:/NPSCHECK/VCS/npscheck.rcv  $
// 
//    Rev 1.0   19 May 1998 10:11:02   mdunn
// Initial revision.
//***********************************************************************

//***************************************************************************
// Version Information
//***************************************************************************

#define VR_FILEDESCRIPTION      "Norton Program Scheduler Signaler"
#define VR_PRODUCTNAME          "Norton AntiVirus"
#define VR_INTERNALNAME         "NPSCheck"
#define VR_ORIGINALFILENAME     "NPSCheck.EXE"
#include "vlib.ver"

