// Copyright 1995-1999 Symantec Corporation
//***************************************************************************
//
// Description:
//      Resource file for NAVDEF library.
//
//***************************************************************************
#include <windows.h>
#include <vdlver.h>

#define VR_FILEDESCRIPTION      "Norton AntiVirus VDL Technology"
#define VR_INTERNALNAME         "NAVDEF"
#define VR_ORIGINALFILENAME     "NAVDEF32.DLL"
#define VR_PRODVERION           NAVVDL_VERSION_MAJOR, NAVVDL_VERSION_MINOR, NAVVDL_VERSION_INLINE, NAVVDL_BUILD_NUMBER
#define VR_PRODUCTVERSIONSTRING NAVVDL_PRODUCT_VERSION
#define VR_FILEVERSION          NAVVDL_VERSION_MAJOR, NAVVDL_VERSION_MINOR, NAVVDL_VERSION_INLINE, NAVVDL_BUILD_NUMBER
#define VR_FILEVERSIONSTRING    NAVVDL_PRODUCT_VERSION

#include "vlib.ver"
