T|SaveAs|Save As
T|Open|Open
T|New|New Presentation
S|UpconvertReply|O
S|VBErrorReply|E
S|Save|[CTRL]s
S|Open|[CTRL]o
S|SaveAs|[ALT]fa
#S|New|[CTRL]n
S|New|[ALT]fn
S|Exit|[ALT]fx
S|Close|[ALT]fc
S|SlideShow|[ALT]dv
#S|Close|[CTRL][F4]
C|FileOpen|FileOpen
C|FileSave|FileSave
C|FileSaveAS|FileSaveAs
C|FileClose|FileClose
C|FileNewDefault|FileNewDefault
C|FileExit|FileExit
C|StartOfDocument|StartofDocument
C|EndOfDocument|EndofDocument
C|ToolsOptionsSave|ToolsOptionsSave
C|DocMaximize|DocMaximize
L|document|presentation
L|doc|presentation
L|template|presentation
L|GlobalTemplateName|{GLOBALNAME}
#E|NewMoving|[SHIFT][TAB][LEFT][LEFT][LEFT][LEFT][TAB][RIGHT]
